[2019-04-10 09:50] newpavlov commented on #738
No, it's not a typo, with enabled `std` feature `Error` will contain only `Box` field.

I think one important use-case for boxed errors is external hardware RNGs. Plus if you unconditionally enable `std` you will be able to downcast boxed error to get more information about failure if needed.

I don't think it will cause big issues with backwards compatibility, as I doubt that there are many users

[2019-04-10 10:47] vks commented on #766
We could consider creating a FAQ, but I'm not sure whether that helps.

[2019-04-10 12:17] vks commented on #767
There is another permutation that was designed to be smaller and faster for short messages than ChaCha: https://gimli.cr.yp.to

It uses 384 bytes of state, so it is only 3 times larger than `SmallRng`.

[2019-04-13 18:45] Paul-E opened #772 "Bump libc dependency version"
Currently the libc dependency version is listed as [0.2](https://github.com/rust-random/rand/blob/2abc78a247e23f61390e8199be6d39c60daeec51/Cargo.toml#L65). There is a call to [`pthread_atfork`](https://github.com/rust-random/rand/blob/2abc78a247e23f61390e8199be6d39c60daeec51/src/rngs/adapter/reseeding.rs#L320), which is in [libc](https://github.com/rust-lang/libc/blob/600f635072005a59140de119fd4de

[2019-04-14 08:03] vks commented on #772
On docs.rs, I can find `pthread_atfork` in [0.2.22](https://docs.rs/libc/0.2.22/libc/?search=atfork), but not in [0.2.21](https://docs.rs/libc/0.2.21/libc/?search=atfork).

[2019-04-15 09:00] dhardy commented on #772
`getrandom` already requires 0.2.29 on UNIX, so although there's no reason *not* to bump the version, but it won't achieve anything since the next release will require this version anyway.

[2019-04-15 10:18] vks commented on #772
This was fixed in #773.

Fair enough, but I think it still makes sense for correctness. In theory, `rand` does not know about the dependencies of `getrandom`.

[2019-04-15 10:18] #772 closed

[2019-04-15 10:50] dhardy opened #775 "Gaussian & LogNormal distributions"
### Negative standard deviation

Currently `Normal::new` checks that `std_dev` is not negative. I see no need to keep this check (GSL lacks it), though it should be pointed out that effectively the standard deviation will be `std_dev.abs()`.

The only drawback is that calculations erroneously producing a negative value would no longer be detected, though I doubt this often happens (and non-negativ

[2019-04-15 10:55] dhardy commented on #775
### LogNormals by mean and CV

For another project, we decided the most convenient way to parameterise log-normals was by the (linear) mean and coefficient of variation. Code found [here](https://github.com/SwissTPH/openmalaria/blob/master/model/util/sampler.cpp#L101), written by myself.

We should add this functionality, and clarify the parameters to `LogNormal::new` in the doc.

[2019-04-15 10:59] dhardy commented on #775
### Z-scores and correlated samples

Sometimes it can be useful to save a z-score (sample from a standard normal), and use it to sample from a parameterised Normal or LogNormal distribution, allowing correlated samples or a disconnect between the RNG machinery and parmeterisation.

Additionally, it is possible to generate partially-correlated z-scores (with correlation measured in linear space for

[2019-04-15 11:00] vks commented on #775
I tried to clarify the parameter names in https://github.com/rust-random/rand/pull/770/commits/466a0fcc5b05f8d5be1b2870f55a7e32aca21646.

[2019-04-18 06:11] barabadzhi opened #778 "Four-parameter Beta distribution/PERT distribution"
## Background

**What is your motivation?**

Statistical computing.

**What type of application is this?** (E.g. cryptography, game, numerical simulation)

Simulation.

## Feature request

Will be really nice to have [four-parameter Beta distribution/PERT distribution](https://en.wikipedia.org/wiki/PERT_distribution) in place. It offers an alternative to using the triangular distribution which tak

[2019-04-18 08:41] dhardy commented on #778
Thanks for the suggestion. Can you point us to any sampling algorithms for the distribution?

[2019-04-18 12:05] barabadzhi commented on #778
@dhardy

Here are some references:
[R](https://www.riskamp.com/beta-pert)[
Python](https://github.com/mbasilyan/PythonBetaPERT/blob/master/BetaPERT.py)
[C](https://github.com/cteberg/PERT-Beta-Distribution/blob/master/pert.c)

Hope, they can be helpful :slightly_smiling_face:

[2019-04-18 16:49] dhardy commented on #778
Thanks! Question: why is this typically parameterised by `(min, max, mode, mode_weight)` and not by `(min, max, mean)`? It looks like it would be easy to add constructors for each if desired.

I guess also it's common to use `(min, max) = (0, 1)`?

[2019-04-18 16:59] barabadzhi commented on #778
Mean is the **average of all** observations.
Typically we use PERT distribution when there are a few observations (thus mean is impractical), but we have min, max and "the most likely value" (mode) instead. We also use mode weight to affect the shape of the curve.

Min/max values can be whatever. I'm generating customer demand data in XXX tons for example. And this can be from 0.1 ton to 10K tons.

[2019-04-19 07:57] RalfJung opened #779 "rand performs unaligned memory access (and invalid raw ptr usage)"
The following program [fails to run in Miri](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=d3da2da036521b511530ebed947fa5f7) with an unaligned memory access:
[code]

This is caused by this line of code:
https://github.com/rust-random/rand/blob/852988b2223ee93e3393ff9470e96002f8c446a9/rand_core/src/block.rs#L186

That casts a 4-aligned pointer to a `*const i64` and then us

[2019-04-19 09:31] RalfJung commented on #779
`fill_bytes` and `try_fill_bytes` in the same file also seem to be based on the incorrect assumption that unaligned accesses are okay in Rust when compiling for x86:
[code]

[2019-04-19 09:33] dhardy commented on #779
Thanks @RalfJung; some good questions here.

This particular example is around 13% faster with the HC128 generator on my system (`gen_u64_hc128` benchmark), but with much less difference for other generators (1-4%). In my opinion, that's enough of a difference to be worth taking if it's free, but not if it causes UB.

Following your suggestions, I get around the same performance with this version

[2019-04-19 10:56] dhardy commented on #778
Okay, I'll start on this soon, but it's currently blocked by #770.

[2019-04-19 11:07] #725 closed

[2019-04-19 11:09] dhardy commented on #716
Sounds like we're mostly in agreement to keep `thread_rng` within the main Rand crate. We can revisit given fresh rationale, but I see no reason to keep this open now.

[2019-04-19 11:09] #716 closed

[2019-04-19 11:16] dhardy commented on #699
Update: `JitterRng` now lives in its own crate (`rand_jitter`) and is no longer a dependency of any other Rand crate (not even optionally) in the latest master.

This discussion has served its purpose and should be closed now, but before it gets forgotten this discussion should probably be linked into the `rand_jitter` documentation somehow.

[2019-04-19 11:30] dhardy commented on #667
@kazcw would you be open to adding `rand_core` support into your ChaCha implementation? Use of the existing block-rng code should in theory be enough to get us good performance here, though of course it needs testing (also #779 will result in a few changes).

Alternatively we could update the `rand_chacha` crate with the subset of the code relevant to us.

[2019-04-19 11:41] dhardy commented on #658
Any call to `thread_rng()` must first check that the local instance is initialised, so I think your `AnyThreadRng` would have a significant performance impact, though haven't tested.

Is there much motivation here however? The only thing I can think of is generic code which consumes an RNG and returns a `Send` / `Sync` type (e.g. `Distribution::sample_iter`), which you then wish to use with `threa

[2019-04-19 12:00] dhardy commented on #655
I don't have much interest in adding an unaligned version of block RNGs; we'd have significant complications of code in `next_u32` and `next_u64` and likely some perf. impact, and I doubt there'd be enough usage of the unaligned versions to justify both (it would need multiple versions of the block rng code). IMO Rand should mostly focus on random numbers, not on cipher streams.

With the current

[2019-04-19 12:00] #655 closed

[2019-04-19 12:09] dhardy commented on #648
There is a lot of good discussion here, but this isn't the right place to continue it, and long GitHub threads are a pain to read. Lets move future discussion to https://github.com/rust-random/getrandom/issues/21 for now.

[2019-04-19 12:09] #648 closed

[2019-04-19 12:10] #637 closed

[2019-04-19 12:11] #602 closed

[2019-04-19 12:19] RalfJung commented on #779
This looks good, I'll try to run it in Miri as well. Do you have this in a branch somewhere?

That's in fact how I noticed, as you can see from my example above. I should probably try to run the entire rand test suite in Miri... will it exercise all these code paths irrespective of what `thread_rng` chooses?

[2019-04-19 12:44] RalfJung commented on #779
I can confirm that https://github.com/RalfJung/rand/commit/8303309b090facff2bb7295391832e5cb4f1cbc4 makes my small tests pass in Miri.

[2019-04-19 14:08] dhardy commented on #779
Running the entire test suite should probably cover most of the `unsafe` code, but it would be worth testing all the sub-crates in the repo (e.g. `BlockRng64` is only used by `Isaac64Rng` which is not a dependency of the main crate).

Thanks again for stepping in to fix the `unsafe` pointer access; as you can tell we can do with a bit of help here.

[2019-04-19 14:43] burdges commented on #658
Agreed.

[2019-04-19 14:43] #658 closed

[2019-04-19 15:15] RalfJung commented on #779
I'm afraid the `fill_bytes` problem is much harder to fix. This creates an unaligned reference at https://github.com/rust-random/rand/blob/9828cdf0201f816e4e4bff07834d849a10be80e9/rand_core/src/block.rs#L234-L237
and then passes that to `generate`. References must always be aligned even if they are not used.

So to fix this, `generate` would have to take a raw pointer instead. But that seems to be

[2019-04-19 18:30] kazcw commented on #667
@dhardy Sure, I'll try to get to it this weekend

[2019-04-20 07:08] dhardy commented on #779
Here, `filled` should always be a multiple of four, but of course that's not enough since the `dest` argument may not be 32-bit aligned.

I'm not sure how important the direct copy is to performance (it's only going to be encountered with large fill requests), hence we could refactor this to generate to the `self.results` buffer or a temporary and then copy from there.

Refactoring the trait isn't

[2019-04-20 08:24] #766 closed

[2019-04-22 10:19] mpizenberg commented on #350
Hi, I just cloned the repo and was surprised git downloaded 85 mb of data. I guess it's linked to this issue?

[2019-04-22 11:00] dhardy commented on #350
Is it already so large? But yes, this effort is the reason it's not even bigger. I don't believe we can reduce it again without a lot of disruption, however we should consider migrating some sub-crates to new repos to stop the issue getting worse.

[2019-04-22 11:49] mpizenberg commented on #350
Some of the worst offenders seem to be large binary files, and fonts, committed around 2013 in the history.

![rand-large-files](https://user-images.githubusercontent.com/2905865/56499119-477b1000-6505-11e9-8e3c-53dcd5bab854.png)

[2019-04-22 13:18] dhardy commented on #350
What would you suggest doing about this? Rebasing the history again? I'm not keen; we have quite a few active PRs and many complete ones whose history would be messed up.

[2019-04-22 13:22] pitdicker commented on #350
I think the old-master branch still needs to be deleted.

[2019-04-22 13:30] mpizenberg commented on #350
I don't know the rand code base at all sorry. I just tried to pinpoint some commits bringing few Mb to the repo. Since you said

I was thinking, if those commits are from that old_master branch (that I don't know) maybe deleting it would save quite a lot Mbs.

[2019-04-22 13:54] mpizenberg commented on #350
Actually I just checked and most of those heavy files seem to be only accessible from `old-master`. Right now, cloning only the master branch of this project with `git clone -b master --single-branch ...` results in 3Mb of download which is a lot better.

[2019-04-22 15:35] dhardy commented on #350
Aha. Thanks @pitdicker. Well, we haven't needed that branch for a long time so we should be able to safely delete it (I will keep a local copy for a while just in case).

[2019-04-22 15:38] dhardy commented on #350
[code]
Seems to have fixed it. Thanks @mpizenberg for bringing this up!

[2019-04-23 14:13] #779 closed

[2019-04-23 14:14] #778 closed

[2019-04-26 17:40] dhardy commented on #100
Do associated types help anywhere? We already have to deal with the fact that a distribution may implement sampling for multiple types, thus requiring:
[code]

Further investigation into distributions:

- `Binomial` uses `u64` and `f64`; both types could be derived from `new` args; could abstract over one or both; if we implemented `Distribution<u32>` for the current `Binomial` we cannot guarantee

[2019-04-27 10:17] dhardy commented on #257
Also see the following 2018 paper [arxiv](https://arxiv.org/pdf/1810.04744.pdf) by Morteza Jalalvand, Mohammad A. Charsooghi:

Authors' code (GPLv3): https://github.com/DiscreteLogarithm/Zest

[2019-04-27 14:09] dhardy opened #786 "Value stability of distributions"
In the past we have changed sampling algorithms for the `Uniform` integer and float implementations, thus breaking value stability. There is a good chance we will wish to do the same with some other algorithms in the future (e.g. `Normal` and `Gamma`).

We have yet to develop a policy for how to handle this (but see the note on [portability](https://rust-random.github.io/book/portability.html) in

[2019-04-27 18:57] tarcieri commented on #667
There's an [open PR to add ChaCha20 support to RustCrypto](https://github.com/RustCrypto/stream-ciphers/pull/10), which could be published as the [`chacha20` crate](https://crates.io/crates/chacha20).

Personally I think it'd be swell if people could combine efforts on a single, high-quality, well-maintained ChaCha20 implementation all Rust users could leverage.

[2019-04-28 23:11] negamartin opened #787 "Using 0 as a seed for the `Xoroshiro64Star` or `Xoroshiro64StarStar` PRNGs overflows the stack"
The `SeedableRng::from_seed` function uses the `deal_with_zero_seed` macro, which calls the `SeedableRng::seed_from_u64` function, which calls the `SeedableRng::from_seed` function again with a 0 seed.

In the 128, 256 and 512 bit versions of the PRNG, `seed_from_u64`  uses a splitmix rng to produce the seed, but in the 64 bit versions the `u64` is converted directly into all-zero bytes and used a

[2019-04-29 19:17] dhardy commented on #787
@vks should `seed_from_u64` not use splitmix for the 64-bit versions also? In general having some bit-mixing is a good thing.

Of course this is a breaking change, but it's a separate crate only at version 0.1 so no big deal IMO.

[2019-04-30 12:03] withoutboats commented on #738
This is not a correct use of cargo features. cargo features are intended to be strictly additive; a library cannot expect that its reverse dependencies will have features turned on when it has a feature turned on.

I cannot build my dependencies because of how they depend on rand. I am now investigating what I have to do to make my build work correctly, even though the code I'm writing has nothing

[2019-04-30 13:54] dhardy commented on #738
This will be fixed in the next Rand version, but possibly not soon (it could easily be a month or two away).

[2019-04-30 22:20] burdges commented on #738
I've maybe bumped into this.  It's caused by slicing the crates up too small I suppose?

[2019-05-01 06:55] dhardy commented on #738
You could put it that way, or you could say that Cargo *really* needs global feature flags.

[2019-05-02 07:35] #738 closed

[2019-05-02 13:43] vks commented on #787
This was partially claimed by the documentation, but not actually true.

I agree, so I opened #791.

[2019-05-02 13:47] dhardy commented on #787
How does the original Xoroshiro64 impl address this? Value-compatibility with other PRNG impls can be useful, though anyone needing that can still use `from_seed`.

[2019-05-02 13:54] vks commented on #787
It simply doesn't. Seeding is not part of the reference implementation.

[2019-05-07 07:36] #667 closed

[2019-05-07 07:37] #787 closed

[2019-05-14 15:44] dhardy commented on #110
There does not appear to much more interest in this, and I'd prefer not to add this type of approximation to Rand. We also now support `O(1)` weighted sampling via the Alias method (#692).

[2019-05-14 15:44] #110 closed

[2019-05-14 15:47] dhardy commented on #267
Work on this isn't complete, but I don't see any value in keeping the issue open. #357 is the more useful tracker.

[2019-05-14 15:47] #267 closed

[2019-05-15 08:34] dhardy commented on #715
Progress report: we've been making good progress with the distribution work, and were also able to get a faster ChaChaRng (#789). Once #792 and #793 land (soon) a large part of the to-do list will be complete.

The remaining blocking issue is #771 on which @newpavlov and myself have yet to reach an agreement (since he hasn't replied in four weeks, at this point I assume he has lost interest).

[2019-05-15 11:54] #100 closed

[2019-05-15 13:22] dhardy opened #796 "Fix Miri testing of ChaCha"
Turns out the reason the Miri test on #789 passed is because [it didn't run](https://travis-ci.org/rust-random/rand/jobs/529168438) (@RalfJung: told you skipping the test when Miri is unavailable would also have problems, but never mind).

So we can either hack around this by not testing `rand_chacha` and the affected parts of Rand with Miri or we can hack around this by using a `cfg` to adjust th

[2019-05-15 14:20] vks commented on #796
I think we should make `c2-chacha` compatible with Miri and Emscripten.

[2019-05-15 14:23] vks commented on #796
Did you try removing the default `simd` feature from `c2-chacha` for Miri and Emscripten? That should probably work.

[2019-05-15 15:26] RalfJung commented on #796
Does `c2-chacha` have a non-SIMD fallback, or does rand use some other implementation for non-SIMD platforms? The usual approach is to also use that fallback for Miri. (This is, e.g., what hashbrown does.)

[2019-05-15 15:49] vks commented on #796
@RalfJung Yes, and we are running Miri without the `simd` feature already:

* https://github.com/dhardy/rand/blob/e182cfce6a9b71148d59b088dfab47d0d4a58821/utils/ci/miri.sh#L13
* https://github.com/dhardy/rand/blob/e182cfce6a9b71148d59b088dfab47d0d4a58821/rand_chacha/Cargo.toml#L31
* https://github.com/cryptocorrosion/cryptocorrosion/blob/e77f1623c012d2bae022d69c21668391019bc3b2/stream-ciphers/chac

[2019-05-15 15:58] RalfJung commented on #796
Ah, it's doing a run-time check? Yeah, that's different from what I saw elsewhere.

Also, these feature games won't help projects that depend on rand -- they would have to all propagate this. I don't think features are a good solution for target-specific changes; `cfg` works better for that.

(This also applies to emcscripten: if you make this a feature, every library that indirectly uses rand has

[2019-05-15 16:08] dhardy commented on #796
Of course not. Any idea when it will be a reliable component of rustc?

Yes, it sounds like a `cfg` in the code is needed, probably somewhere in `c2-chacha` which is @kazcw's code.

[2019-05-15 16:10] RalfJung commented on #796
Clippy and RLS also break regularly for nightly, and I don't see that changing.  But hopefully at some point we will be able to ask rustup "please install the latest nightly that has Miri".

Basically, [in cases like this](https://github.com/cryptocorrosion/cryptocorrosion/blob/e77f1623c012d2bae022d69c21668391019bc3b2/utils-simd/ppv-lite86/src/lib.rs#L12), `feature = "simd"` needs to be extended t

[2019-05-15 17:11] kuviman opened #797 "UnitCircle including the inside"
I would like to produce random points inside a circle.

A `UnitCircleInside` and `UnitSphereInside` distributions would be great to have.

Also, there is currently `UnitCircle` distribution, but it only produces points on edge. And this is not obvious since there is also `UnitSphereSurface` which states such fact in the name. So, ideally `UnitCircle` could be renamed to `UnitCircleEdge`.

[2019-05-15 19:20] dhardy commented on #797
Actually, we already discussed the names: 'circle' typically refers to just the edge, while 'disc' refers to the internal area. For a sphere, the edge might be called a 'shell', but that name appeared more confusing, hence the desicision to use `UnitSphereSurface`. So we can use:

- `UnitDisc`
- `UnitSphereInterior`

See the discussion in #567. Implementing these should be straightforward, and I d

[2019-05-15 20:33] kuviman commented on #797
Hm, 'sphere' also usually refers to the shell, and the interior is called 'ball', I think?

[2019-05-16 05:13] kazcw commented on #796
Fixing for miri will be easy, I can do it this weekend (if I don't get time sooner). It's not obvious to me why the wasm32 build wouldn't be compiling purely portable code but I can look into that this weekend too.

[2019-05-16 09:07] vks commented on #797
Sampling from inside a circle or sphere is most efficiently done using rejection sampling, so it is very easy to implement (see the [corresponding benchmarks](https://github.com/vks/sample-sphere)). I'm fine with adding them to `rand_distr`. They were not yet added, because I was not sure how useful it would be, and because their implementations are much more straightforward than for sampling from

[2019-05-16 09:09] dhardy commented on #797
Those appear to be the terms used by Wikipedia and Wolfram at least; I'm happy to switch to this terminology. @vks? This is actually a good time to rename `UnitSphere` since `rand_distr` already has breaking changes.

Another thing occuring to me is that we *could* abstract over dimensions as follows, though probably this is more confusing than useful:
[code]

[2019-05-16 14:56] dhardy opened #799 "Bernoulli constructor"
In `rand_distr` we switched all constructors to return a `Result` unless they couldn't fail to avoid having to panic.

There is one distribution that didn't get updated: `Bernoulli`, which remains in Rand proper.

*Should* we make this return a result? For:

- it's consistent
- it avoids a panic

Against:

- it's a breaking change
- it's less convenient (though we still have `Rng::gen_bool` for co

[2019-05-16 15:13] vks commented on #799
We could also add a new, non-panicking constructor and deprecate the old one.

(I think I would prefer a breaking change to `rand` though. I don't expect there is so much code using `Bernoulli` directly.)

[2019-05-17 11:39] #797 closed

[2019-05-19 21:41] kazcw commented on #796
I fixed build for miri in ppv-lite86: 0.2.3 -> 0.2.4.

The emscripten failure is caused by emscripten-core/emscripten-fastcomp#169. Avoiding usage of 128-bit types in ppv-lite86 would be onerous; it's a 128-bit-types math library. It works on every complete Rust implementation.

[2019-05-20 09:39] dhardy commented on #796
Thanks @kazcw. I see what you mean; supporting Emscripten with the new ChaCha code would not be easy.

I wish we had some data on the usage of Rand on Emscripten. @huangjj27, @CryZe, @pitdicker, @jsheard and @svenstaro have all contributed to Emscripten support; is this still an important target now that we have WASM+WASI? If we must support Emscripten then using a different PRNG (or different Cha

[2019-05-20 10:23] svenstaro commented on #796
I'm definitely still using Rand and emscripten and I'm pretty happy with that. My project can't yet be implemented in non-emscripten backed wasm I think so I'd be pretty distraught if that went away.

[2019-05-20 10:42] vks commented on #796
@kazcw Could you please publish ppv-lite86 0.2.4 on crates.io?

@dhardy I think the easiest fix would be to use `rand_hc` on Emscripten. Alternatively, we would have to add a feature to `rand_chacha` to use the old implementation, which would be an unfortunate duplication of code.

[2019-05-20 13:47] huangjj27 commented on #796
never mind the deplication of codes because there is no overhead for the users while compiling.

personally, I use `wasm32-unknown-unknown`/`wasm32-wasi` target in most of my tiny projects, but there are some projects that still support Emscripten (like [yew](https://github.com/DenisKolodin/yew)). How about follow the supportment untill most of down stream has moved to `wasm32-unknown-unknown`/`wa

[2019-05-20 14:08] dhardy commented on #796
Unfortunately that would require us to disable many tests since #792 switches the test RNG to ChaCha8 which we depend on for value-reproducibility. We can use a different RNG instead (I chose PCG for `rand_distr` because it is reasonable quality and easy to embed); this may be the best fix.

[2019-05-23 11:07] #799 closed

[2019-05-23 14:30] mmastrac opened #804 "Easy to run out of randomness on Android"
## Background

**What is your motivation?**

When creating a number of threads quickly on Android without having accessed a thread rng previously, it's possible to get a panic like so:

[code]

**What type of application is this?** (E.g. cryptography, game, numerical simulation)

Mobile application

[2019-05-23 15:36] mmastrac commented on #804
I'm currently fighting some fires, but I can look into this more when my plate clears. Looking into the 0.6.5 source, it looks like linux_android might be using `/dev/random` to test to see if randomness is initialized. At least on my x86_64 SDK simulator (specifically SDK 24 w/google services), I'm able to easily get `/dev/random` to block using a simple `dd if=/dev/random bs=1 count=128` and run

[2019-05-23 15:47] dhardy commented on #804
We could potentially fix that by using a mutex instead of an atomic bool. It might even be faster, but could also be an issue if the first thread gets stopped at the wrong time.

[2019-05-23 20:15] mmastrac commented on #804
Here's a minimized testcase for Android:

`src/main.rs`

[code]

`Cargo.toml`

[code]

Build with `cargo build --target=i686-linux-android` and adb push to `/data/local/tmp`.

This will occasionally die w/ this error:

[code]

[2019-05-24 17:14] dhardy opened #805 "Reproducibility of usize samples across architectures"
One of the CI failures in #792 is:
[code]
This is a deterministic test that passes on x86_64 arches but is now failing on 32-bit MIPS. Why does it fail now? The RNG changed from `StdRng` (`Hc128Rng`) to `Pcg32`, which obviously breaks tests depending on the exact RNG output — this test doesn't, but it does perform a test which only *probably* succeeds, and happens here not to.

However, it now fai

[2019-05-24 17:43] dhardy commented on #805
It seems the core *problem* here is not how we generate `usize` values but that `Vec::len`'s type is arch-dependent. If I am allowed to dream a little, a "solution" would be to have `Vec<T, I: Index = u32>` (i.e. give all `Vec`s 32-bit index and capacity by default) — since almost nobody wants arrays larger than 4 GiB and using a `Vec` is probably not an option on 16-bit machines anyway, this shou

[2019-05-24 18:20] BaxterEaves opened #806 "Implement Serialize/Deserialize for more RNGs"
I'm using rand for MCMC. I store and pass states using serialization. But only a handful of the RNGs implement `Serialize` and `Deserialize`, which prevents me from migrating from XorShift to Xoshiro. I'd like to implement the serde traits for the other non-cryptographic RNGs.

[2019-05-24 18:50] dhardy commented on #805
Maybe there is something we could take advantage of: `rng.gen_range(0, len)` uses the `Uniform` implementation for `usize` — since the `len` (`max` parameter) should *often* be less than `u32::MAX`, we could test, and use the appropriate path. This trades one extra `if` to only use a single `u32`, thus probably has little performance impact (maybe even a gain) and should achieve the goal of determ

[2019-05-24 18:53] dhardy commented on #806
For non-crypto RNGs like Xoshiro and PCG I think this is just an oversight (@vks?).

Just curious, but would you not be better off using `seed_from_u64`?

[2019-05-24 22:11] BaxterEaves commented on #806
Thanks!

I don't think that would work because I need the state of the RNG. If there is a bug after a billion generations, I can unravel the RNG state at the point that caused the bug and recreate the bug easily. And a `u64` can't hold the state of 128bit or 256bit generator.

[2019-05-24 23:16] burdges commented on #805
I agree `gen::<usize>()` being different sounds unavoidable, but rust devs know `usize` acts funny.

I also agree `rng.gen_range(0, len)` and `choose` should work consistently across architectures.  If I understand, you want it to consume only as much randomness as required?  That's probably okay.

[2019-05-25 08:40] dhardy commented on #806
Aha. [ChaCha](https://rust-random.github.io/rand/rand_chacha/struct.ChaCha20Rng.html) also supports getting and setting the offset which can achieve the same thing, but yes serialising the RNG is a perfectly reasonable approach.

[2019-05-25 08:42] dhardy commented on #805
For consistency, I think the best solution is to always consume a single `u32` except where the upper bound is larger than `u32::MAX`.

[2019-05-25 08:45] dhardy commented on #806
Since `rand_xoshiro` is a separate crate, a PR can be made against that easily. Bump the version and changelog too and it'll be ready for release.

`rand_pcg` does already support serialization, as does `rand_xorshift`.

[2019-05-25 19:05] burdges commented on #805
If usize were u16 then you'd need to truncate, not round, but sure.  I'd think the real concern is that `len < 256` is actually extremely common, so you're paying 2-4 there.

[2019-05-25 19:18] dhardy commented on #805
you have 64 kiB address space, so I don't expect you'll be using large libraries like Rand.

Most of our RNGs produce output of 32-bit or larger words, and although the byte-oriented API can theoretically consume smaller amounts of random bits, in practice it's not worth it for performance.

[2019-05-28 08:24] #806 closed

[2019-05-28 17:04] newpavlov commented on #804
I think the next version which will use `getrandom` will fix this issue, especially with rust-random/getrandom#14. With this PR initialization will be done only once per application execution, regardless of number of spawned threads. Also `getrandom` does not use non-blocking API, so `EAGAIN` (os error 11) should never happen.

[2019-06-01 09:30] Dandry opened #810 "rand 0.6+ panic when using wasm-bindgen"
I'm familiar with the #616 issue, however I still experience this problem while using `rand 0.6.5` and `wasm-bindgen 0.2.45`.

The source code:
[code]

Cargo.toml
[code]

Executing the `test()` function in JS results in panic:

    at __rust_start_panic (wasm-function[171]:1)
    at rust_panic (wasm-function[99]:31)
    at std::panicking::rust_panic_with_hook::h5d8808384a53a826 (wasm-function[32]:

[2019-06-01 09:47] Dandry commented on #810
It turns out that my `Cargo.toml` configuration was wrong.
The following is correct:
[code]

Sorry for wasting your time. This issue can be closed.

[2019-06-01 10:46] passionkind opened #811 "autocompletion behavior seems to have changed with racer since 0.4.0"
I've just started learning rust and I'm going through the handbook. The `rand` crate is part of one chapter and you're supposed to use `thread_rng().gen_range(low, high)`.

I'm using vscode together with the `Rust (rls)` extension. When I use `rand 0.4.0` I get perfect autocompletion, showing all methods that are available including `gen_range`. However, when I upgrade to `0.5.x` or `0.6.x`, this

[2019-06-01 11:03] dhardy commented on #810
Yes, we require specification of a feature flag for WASM.

Not sure why the error message is so terrible, but the code for Rand 0.7 is already totally different so there isn't much incentive to investigate further.

[2019-06-01 11:03] #810 closed

[2019-06-01 11:07] dhardy commented on #811
What changed on our side is that we now use an extension trait `Rng: RngCore`. Make sure you `use rand::Rng` and *maybe* auto-completion will work.

But sorry, we can't provide support for `racer`. You might try bringing this up with `racer` devs, however auto-completion from out-of-scope extension traits may not be feasible (making a special case for `Rng` might be however).

[2019-06-01 11:07] #811 closed

[2019-06-03 10:26] dhardy commented on #269
I propose we close this with documentation only (provided in #812) since although using specialisation as above might be possible in the future, value-stability is important and this specialisation would yield different values for many types (with actual behaviour depending on the RNG).

It appears that specialization will not be available in the near future: [tracking issue](https://github.com/ru

[2019-06-03 10:50] vks commented on #269
This might be a better option:

[code]

The `Distribution<T>` requirement is not needed, but it avoids implementing the trait for potentially unwanted types. This does not work for `[[u64; 32]; 4]`, but arguably that is not very important and could be fixed by implementing `AsByteSliceMut` for nested arrays.

Of course, this is still a regression for types that don't implement `AsByteSliceMut`.

[2019-06-03 11:00] dhardy commented on #269
This doesn't work for many types, e.g. `[f32; 3]`. Is byte-buffer gen performance more important than being able to generate arrays of other types?

[2019-06-03 11:28] vks commented on #269
Fair enough. However, it would be nice if `fill` could support floats. I think it is fine to close this issue, following your argumentation in https://github.com/rust-random/rand/issues/269#issuecomment-498202048.

[2019-06-03 13:13] dhardy commented on #269
Perhaps we got the design of `AsByteSliceMut` wrong), and instead we should have:
[code]
With that, we could implement support for float slices; also we could support `gen` for any type supporting `Fill + Default` (so long as we avoided overlapping implementations) which would allow this optimisation and make `arr = rng.gen()` and `rng.fill(&mut arr)` value-equivalent on arrays.

Possibly this was

[2019-06-03 14:04] vks commented on #805
I would suggest to document the portability hazard, suggest to use fixed-width integers and casts instead, and close this issue.

Note that #809  made `list.choose(&mut rng)` portable by using `u32` internally if possible.

[2019-06-03 14:08] vks commented on #269
I agree that `Fill` seems like the better abstraction. Maybe it's better to do that for 0.8 though.

I would not worry too much about `fill_bytes` vs. `try_fill_bytes`, we have similar problems with `next_u32` and `next_u64`.

[2019-06-03 17:15] #699 closed

[2019-06-04 07:51] dhardy commented on #805
Telling users to use casts like `rng.gen_range(0, len as u32) as usize` is really not very idiomatic, but I guess it's the best we've got for those after reproducibility.

[2019-06-04 07:53] dhardy commented on #796
#792 is now merged with full CI compliance! Thanks for the help everyone.

[2019-06-04 07:53] #796 closed

[2019-06-04 07:57] dhardy commented on #767
#792 introduced a feature-gate for `SmallRng`. I think we can now close this issue?

[2019-06-04 08:01] #760 closed

[2019-06-04 08:14] RalfJung commented on #796
FWIW, the tests there passed for Miri because Miri was not available as a component...

We could also, instead of making the test pass when the component is missing, make it fail but mark it as allowed-to-fail on Travis?

[2019-06-04 08:26] dhardy commented on #744
I think there are basically two options on this one:

1.  We keep the status quo. This is reasonably flexible since:

    - we already support `Uniform<X>: From<Range<X>>`
    - unpacking values from a range is not hard: `rng.gen_range(rng.start, rng.end)`
    - we already support `Uniform::new` and `Uniform::new_inclusive`

2.  We switch `rng.gen_range` and `Uniform::new` to support any `B: Range

[2019-06-04 08:30] dhardy commented on #796
No, because in that case I think GH would not tell us about actual failures on Miri?

We need some *use the last nightly with Miri support* option to do this properly, unless the Rust team can actually get this in all nightlies. Until then, I think we just continue like usual (often enough new PRs start failing because of something not related to the PR).

[2019-06-04 08:56] #767 closed

[2019-06-04 09:01] vks commented on #744
I think we should probably go with option 2 before Rand 1.0. However, for now I think we should spend our budget for breaking changes elsewhere.

[2019-06-04 09:31] RalfJung commented on #796
That's accurate.

Yeah, we basically need https://github.com/rust-lang/rustup.rs/issues/1501.

[2019-06-04 09:49] Nemo157 commented on #796
The alternative that you can use today is to just pin a specific nightly date for those specific CI builds (given how many years a rustup feature like this has been needed without much movement (I recall discussion around it from well before 1501 was opened), I don't see any chance of getting it soon).

[2019-06-04 11:18] RalfJung commented on #796
But then you won't get Miri updates either, which might become a problem.

Another work-around might be available via https://github.com/rust-lang/rustup-components-history/issues/5.

[2019-06-05 05:30] dhardy commented on #581
This is implemented

[2019-06-05 05:30] #581 closed

[2019-06-05 05:37] dhardy commented on #715
We are now close to being ready for a 0.7 pre-release. We should still visit #572 first IMO. Anything else I've missed? (The tracker is out of date; seems my last edit was lost.)

After that some work on documentation is needed (especially in the book); this can happen after the pre-release.

[2019-06-05 09:04] vks commented on #715
I don't think there is anything else. Is #572 just about documentation?

[2019-06-05 09:09] vks commented on #463
@dhardy I think this can be closed, now that we use a SIMD-optimized implementation of ChaCha?

[2019-06-05 09:18] dhardy commented on #463
I guess. We still haven't examined Randen or forward secrecy, but these are separate topics.

[2019-06-05 09:18] #463 closed

[2019-06-05 09:20] dhardy commented on #715
It is, though in my mind it is also an API change (not a breaking one but still a significant one), so I'd prefer that done first.

[2019-06-05 10:21] dhardy commented on #715
Found another blocker: we need to make a `rand_distr` release. Is this ready enough? I was intending to release the straight export from Rand as 0.1 and then make 0.2 with our changes, but we don't have to.  @vks would you look into this?

I'm currently checking other crates (including `rand_chacha 0.2` and `rand_core 0.5`).

[2019-06-05 12:53] #572 closed

[2019-06-05 12:57] vks commented on #715
@dhardy Done in #816.

[2019-06-06 04:18] mark-i-m opened #817 "Large structs constructed on stack"
I am trying to use `StdRng` in a `no_std` context where the stack is rather small. I found that the stack is overflowed when the RNG is constructed.

Basically, `rand_core::SeedableRng::seed_from_u64` calls `<rand::rngs::std::StdRng as rand_core::SeedableRng>::from_seed`, which calls `<rand_hc::hc128::Hc128Rng as rand_core::SeedableRng>::from_seed`, which calls `BlockRng::<Hc128Core>::from_seed` .

[2019-06-06 07:16] vks commented on #817
This will hopefully get better once we release Rand 0.7, which uses ChaCha20 for `StdRng`, requiring much less memory than HC128 (see the [Rand book](https://rust-random.github.io/book/guide-rngs.html)). For now, I have the following suggestions:

1. Try using `rand_chacha::ChaChaRng`.
2. Try using `Box<StdRng>`. However, I'm not sure whether this avoids the stack allocation.
3. Consider using a R

[2019-06-06 07:48] burdges commented on #817
We should add some `#[inline(always)]` lines, maybe in BlockRng, but..

Rust code often returns large structures on the stack.  We've RFCs for returning DSTs and VLAs that encourage this.  Also reusing stack space tightly sounds vital CPU cache performance.

I'd therefore consider this an ABI bug or code generation bug in rustc.  I'd expect the caller to pass the called method a pointer to memory

[2019-06-06 07:51] dhardy commented on #817
Agreed; I'll add to #815.

[2019-06-06 09:06] burdges commented on #817
OT:  Is there any "hot spot" analyzer for rust code?  Or LLVM?  You'd put tests into it and it identifies better inlining or whatever?

[2019-06-06 09:14] dhardy commented on #817
Don't know. @burdges would you take a quick look at the last commit in #815? After I get a review I'll make the release (yes, it's largely guess-work at this point).

[2019-06-06 09:38] burdges commented on #817
There are no `BlockRngCore for ..` appears in that diff, so maybe they were already marked `#[inline(...)]`?  It's those that really need inlining I'd think, unless they're big maybe.  And some inherent methods on `BlockRng*`.  Is their already inlined then rustc ignore the directives.  I've heard of that happening.

I've no idea about inlining methods from `impl<R: BlockRngCore<Item=u32>> RngCore

[2019-06-06 11:24] dhardy commented on #817
The `BlockRngCore` implementations tend to be the big ones; I inlined everything else (some with `always` and some without). Since all of these are pure or nearly-pure wrappers I think this is okay.

At any rate, benchmarks are either a little better or similar, so I think this is going in the right direction.

[2019-06-06 14:55] mark-i-m commented on #817
Thanks all! That was a swift response!

I agree that the best solution would be some sort of language support (e.g. move elision/optimization or emplacement construction), but that doesn't seem to be a near-term thing, and I think it is already a recognized problem (e.g. there have been emplacement RFCs, and [this](https://internals.rust-lang.org/t/pre-rfc-minimal-flexible-placement-and-returning-

[2019-06-06 15:06] vks commented on #817
ChaCha only needs 136 bytes, so it hopefully works for you. We could probably use the [Gimli permutation](https://gimli.cr.yp.to/index.html) as a RNG, which only has 48 bytes of state, but this is not yet implemented.

[2019-06-06 15:11] burdges commented on #817
It's an interesting point that `box Something::new()` with `Something` large should be optimized to allocate before invoking `new`, but then `box Something::new()?` gets tricky, so maybe `new(..) -> Something` should be optimized to `new<F>(.., f: F) -> Something where F: unsafe FnOnce(..) -> Something`.. tricky.  And those DST discussion you link would basically turn `fn`s into `Generator`s.. ver

[2019-06-06 15:45] dhardy commented on #817
Good point @burdges but somewhat off-topic. `#[inline]` on constructors should help work around this.

I'll make those releases...

[2019-06-06 16:09] sfackler opened #818 "Rand no longer compiles"
A crate that just depends on `rand = "0.6"` no longer compiles, producing these errors:

[code]

It looks like new versions of a bunch of the inner crates were just released that may not have been semver-compatible?

[2019-06-06 16:22] dancespiele commented on #818
@dhardy I have the same issue

[2019-06-06 16:25] mati865 commented on #818
`rand` haven't been updated for a while so it's not the issue. The problem comes down to new `rand_core 0.5`, failed job is using following `rand_core` versions:
[code]

[2019-06-06 16:35] dancespiele commented on #818
What I'm thinking is that all of subpackage doesn't have rand_core updated to 0.5.0

[2019-06-06 16:40] dhardy commented on #818
Yup, it won't. I'm trying to fix it.

If you force use of rand_core 0.4 for now it will avoid this issue... hopefully I'll have a compatibility shim ready soon.

[2019-06-06 16:44] kflansburg commented on #818
Can you describe this process? I've had no luck using Cargo's patching.

[2019-06-06 16:50] dhardy commented on #818
`cargo update -p rand_core:0.4.0`

I'll have the compatibility shim out soon (see #819).

[2019-06-06 16:52] dhardy commented on #818
Sorry, it's more than that: other rand crates also need to be downgraded (e.g. `cargo update -p rand_hc:=0.1.0`).

[2019-06-06 17:02] Stargateur commented on #818
@sfackler I don't think the whole error report was necessary ;) Can you hide it somehow ?

[2019-06-06 17:05] matklad commented on #818
@dhardy could this be fixed by yanking the offending versions?

[2019-06-06 17:06] pietroalbini commented on #818
@dhardy as you suggested in https://github.com/rust-random/rand/pull/819#issuecomment-499582466 I think yanking is the best solution right now: the new version broke tons of things, including rustc's CI (we can't land any PRs right now).

[2019-06-06 17:07] kflansburg commented on #818
[code]

I was able to use this patch to compile from the revision just before the new release commits started.

[2019-06-06 17:07] dancespiele commented on #818
Although downgraded it, some another library continues requiring this version and my API continues breaking

[2019-06-06 17:09] dhardy commented on #818
Fair enough. But I now lack a strategy for publishing rand 0.7 without a clean break.

[2019-06-06 17:10] dancespiele commented on #818
@kflansburg
I get this error with applying your patches

[code]

[2019-06-06 17:11] kflansburg commented on #818
Hmmm, I do not use those other crates so I'm afraid I can't help there.

[2019-06-06 17:13] dhardy commented on #818
All yanked.

But now the question is *how* do I publish new Rand versions without causing this problem again?

Theoretically, I could use pre-release versions for each depedency, *then* publish Rand using the pre-release versions.

[2019-06-06 17:15] dhardy commented on #818
Everything boils down to one problem: Cargo assumes it can safely use `rand_core` version 0.4 and 0.5 simultaneously. It can't without a compatibility shim. So this is a Cargo bug... but one without a solution I believe.

[2019-06-06 17:18] alce commented on #818
Thank you, you are the best.

[2019-06-06 17:19] DuckerMan commented on #818
So, Do we have a solution?

[2019-06-06 17:20] dhardy commented on #818
Ah: I think the cause of everyone's problems was that I published a new *patch* version (0.1.1) of `rand_hc` which depended on the new *minor* version (0.5.0) of `rand_core`.

So, rule for the future: if bumping a minor/major version of a dependency used in the API, *also* use at least a minor version bump of this package. (Can Cargo enforce this?)

[2019-06-06 17:21] dancespiele commented on #818
@dhardy is possible that every dependency use rand_core=0.5?

[2019-06-06 17:23] sfackler commented on #818
0.4 and 0.5 are semver-incompatible versions and rand_core is a public dependency of rand_hc, so that bump is a breaking change.

[2019-06-06 17:27] kvark opened #820 "Potential heap memory regression between 0.3 and 0.6"
I'm looking at the heap memory regression in Gecko that happened upon updating `parking_lot` and `rand` crates. Parking lot doesn't appear to have any related changes, judging by https://github.com/Amanieu/parking_lot/issues/143. [This try CL](https://hg.mozilla.org/try/rev/69467bbbdc89fb85ded85de3a53b872711555cda) appears to fix the regression in Gecko, which leaves me with Rand to look at. Any i

[2019-06-06 17:29] dancespiele commented on #818
I see that 0.7 has all the dependencies updated to 0.5. I think it would be enough.

[2019-06-06 17:33] DuckerMan commented on #818
It works now for me, thanks

[2019-06-06 17:39] dancespiele commented on #818
rand = {git="https://github.com/rust-random/rand.git"}  (last commit)
resolve the issue

[2019-06-06 17:51] #818 closed

[2019-06-07 06:25] dhardy commented on #820
It *might* be the RNG used by `thread_rng`, which in the current release is `Hc128Rng`, however IIRC the old Rand 0.3 used `Isaac64Rng` on 64-bit platforms, thus not much different unless you are talking about 32-bit here (see [table](https://rust-random.github.io/book/guide-rngs.html#cryptographically-secure-pseudo-random-number-generators-csprngs)).

It happens that we've already switched this a

[2019-06-10 05:47] eddyb commented on #817
This is exactly what it happens, but for soundness reasons, a copy is performed in the body of the function.
You need an optimization (which we call NRVO) to remove the copy in a sound manner.

(oops, I forgot to hit send 4 days ago...)

[2019-06-10 14:09] mark-i-m commented on #817
@eddyb are there any plans to implement NRVO in rustc? would that be a breaking change? or alternately, do you think an explicit syntactic method of invoking NRVO would be better (e.g. some attribute)?

[2019-06-10 14:16] nagisa commented on #817
Implementation/enablement of optimisations is, by the definition of an optimisation, not a breaking change.

[2019-06-10 15:36] eddyb commented on #817
@mark-i-m Yes, see https://github.com/rust-lang/rust/pull/46321 (which I first tried to get into Rust like 1.5yrs ago), it's mostly a matter of adding better debuginfo support (https://github.com/rust-lang/rust/pull/56231, which I was working earlier this year before a few other things came up) before we can start doing that sort of optimizations (and IMO the need for debuginfo support would also

[2019-06-11 23:36] asomers commented on #741
Can we please reopen this?  If rand doesn't build with its minimal dependencies, then nothing that depends on rand will.  According to crates.io, that's 2462 crates.

Here's a start: you need to update the bincode dependency from 1.1.2 to 1.1.4 because bincode 1.1.3 and earlier incorrectly set its minimal autocfg dependency.

[2019-06-12 07:14] dhardy commented on #741
Who's "we"? I personally feel like there's more than enough I'm already doing with this project that I want to support this fairly dubious goal. If you want to bump the minimum versions feel free to open PRs (but also don't expect new releases just for these version bumps).

[2019-06-12 09:44] dhardy commented on #715
The pre-release is out. Reddit thread: https://www.reddit.com/r/rust/comments/bzp5ib/rand_070_prerelease/

[2019-06-12 09:47] dhardy commented on #820
The `0.7.0-pre.1` release should let you test this.

[2019-06-12 09:48] dhardy commented on #817
@mark-i-m please test the new `0.7.0-pre.1` release. Hopefully the in-lining works around the issue sufficiently well.

I think then we can close this?

[2019-06-14 14:23] dhardy commented on #763
An alternative may be to move this to `rand_distr` or a new crate. Rationale:

- it is not very commonly used (154 hits for `rand` + `weightedindex` on GH with `lang:rust` vs 87920 for just `rand`)
- aside from `Bernoulli`, this is the only non-linear distribution included in Rand

[2019-06-14 14:39] devsnek opened #825 ""All entropy sources failed" on wasm32-wasi"
A project i'm trying to build fails with `All entropy sources failed (permanently unavailable); cause: OsRng: support for wasm32 requires emscripten, stdweb or wasm-bindgen (permanently unavailable)`, though `getrandom` says it supports `__wasi_random_get`

[2019-06-14 14:46] vks commented on #763
Moving it to `rand_distr` is problematic, because `rand::seq` needs it, and we don't want `rand` to depend on `rand_distr`. This would probably require moving `rand::seq` to its own crate.

[2019-06-14 15:10] dhardy commented on #763
True, there are [some](https://github.com/ivfranco/notes/blob/82eb179924e2f8a4e745ba966f162a3c0f37f982/AI/searching/src/genetic.rs) [uses](https://github.com/maringa-gamedev/rust-igmc-2018/blob/ede6b2e71a14dcb771282dd968ae519d0813115e/src/ecs/src/system/generate.rs#L120) of `SliceIterator::choose_weighted`, but not many (64 total hits, many of them just code copies).

We could instead use another

[2019-06-14 15:14] dhardy commented on #825
Wrong repo; use https://github.com/rust-random/getrandom/ .

If your target is `wasm32-wasi` and you are using `getrandom >= 0.1.3` this support should be automatic, otherwise you need to enable either the `wasm-bindgen` or `stdweb` feature.

[2019-06-14 15:14] #825 closed

[2019-06-15 08:32] huangjj27 commented on #715
`thread_rng` seems not supporting `wasm32-unknown-wasi` on rust stable, with wasmer runtime(on master branch). What should I use when I targeting that?

[2019-06-15 10:52] dhardy commented on #715
Please take a look at https://github.com/rust-random/getrandom/issues/34, and if it doesn't help open an issue/PR on the getrandom repo. It may be that we should support both `wasm32-unknown-wasi` and `wasm32-wasi`?

[2019-06-15 13:23] huangjj27 commented on #715
worked with `wasm32-wasi` but not `wasm32-unknown-wasi`

[2019-06-15 13:38] vityafx commented on #176
I have [added some support](https://github.com/vityafx/randomorg/blob/master/src/rand.rs), could you review the code, please? I'd like to know your opinion. There is not much code, really. Thank you!

[2019-06-15 20:43] dhardy commented on #176
Sorry, I find the whole premise of your library completely pointless. From the README:

Better in what way?

-   Security? This assumes that you are able to retrieve random data from the service securely, which, guess what, uses some of the same cryptographic techniques that we use and relies on your OS being able to generate secure random keys.
-   Uniform distribution? No, psuedo-random generato

[2019-06-15 22:19] mark-i-m commented on #817
@dhardy Thanks! Unfortunately, I'm not able to build :confused:

It looks like the most recent build doesn't pass a `no_std` feature for ChaCha? Or am I missing a feature? I am getting the following:

[code]

and my `Cargo.toml`:

[code]

[2019-06-16 09:11] dhardy commented on #817
You're right, we should depend on `rand_chacha` with `default-features = false`, and opt-in to the `std` when used.

@kazcw how should we handle the `simd` feature? We *do* have a `simd_support` feature in Rand, but this is nightly-only. We could add a new `simd` feature for stable SIMD support, or is it safe just to enable `simd` for `c2-chacha` in all cases?

[2019-06-16 15:00] burdges commented on #176
If you like heroic efforts to obtain "true" randomness, then you should look into assembling the hardware yourself https://www.instructables.com/id/Arduino-True-Random-Number-Generator/ or use a webcam with a lavalamp https://www.youtube.com/watch?v=1cUUfMeOijg or your pets.  It won't improve your security much, but it'll be fun, especially if it involved pets.

There is a case for phone to have g

[2019-06-16 15:06] vityafx commented on #176
Sorry, I don't quite understand, are you saying that my implementation of `rand_core::RngCore` is bad?

[2019-06-16 15:50] burdges commented on #176
We do not believe fetching "true" random numbers over the internet does any good because encryption and signatures depend upon much stronger security assumptions.  You assume SHA256 is a random oracle when authenticating random.org in particular.

If you need only public randomness, then I suppose hash-based signatures might avoid such heavy assumptions, which makes random.org style randomness req

[2019-06-16 17:30] kazcw commented on #817
@dhardy The option to disable `simd` is sort of a historical accident. It's part of the interface now and I use it for testing, but I don't expect users to want to toggle it.

@vks Chacha can be as light as 138 bytes, but a `simd` implementation can do several rounds at a time before making full use of available ILP even on a `sse2` machine. In the mode `rand_chacha` uses, `c2-chacha` fills a 4-ro

[2019-06-16 17:38] dhardy commented on #817
Unfortunately I think forwarding the `std` feature to `rand_chacha` will interfere with the fallback on Emscripten.

Do we want to use the new `rand_chacha` code without `std`? Would it be better to keep `rand_hc` in this case?

Also, should we drop the `simd` flag from `rand_chacha` and just always enable `simd` on `c2-chacha` @kazcw?

[2019-06-17 09:01] ThomasdenH opened #826 "Shuffle Iterator"
## Background

**What is your motivation?**
In a game AI, I'd like to use a random permutation of a vector. However, the order is only used in an iterator and discarded afterwards.

## Feature request
I'd like to have a `struct RandomizedOrder<T>` that iterates over all items in a slice in a random order. The original slice is not changed.

It is definitely possible to lazily create permutations o

[2019-06-17 09:45] dhardy commented on #826
Such an iterator must remember which elements have already been sampled, so I don't believe there is a better approach than to take a copy of the vector (or a vector of its indices), shuffle that, then read off those elements/indices — unless you expect only to consume a small sub-set of elements from the vector, in which case rejection sampling or [index::sample](https://rust-random.github.io/ran

[2019-06-17 10:11] ThomasdenH commented on #826
I am thinking of a generator for a cyclic group, which by definition will not repeat elements before every element has occurred. For example:

[code]

However, the more I read into it, the more I doubt it has the desired properties.

[2019-06-17 10:15] vks commented on #826
If you don't need cryptographic randomness, you could construct such an iterator using an equidistributed (and thus not cryptographically secure) RNG to sample an index, discard the bits exceeding the size of your vector, and rejecting indices that are too large (which can still happen happen if your vector size is not a power of two). I would suggest to use a Xoshiro** generator from `rand_xoshir

[2019-06-17 12:06] ThomasdenH commented on #826
Thank you. I think a LCG is what I want. I think I'll make my own crate with it.

[2019-06-17 12:06] #826 closed

[2019-06-17 12:23] burdges commented on #826
If G is a cyclic group then there are |G| maps from group elements x in G to lists [x,2x,3x,..] and |G| maps from integers i less than |G| to maps x -> x^i.  Yet, there are 2^|G| permutations of G so if |G| is too small then you'll never obtain anything like a uniform distribution.  If otoh |G| is cryptographic size then actually the opposite holds in practice, but then |G| cannot fit in memory.

[2019-06-25 11:49] newpavlov commented on #733
This issue may be fixed in rust-random/getrandom#38.

[2019-06-25 13:35] vks commented on #715
I think only #828 is missing for the release? It is probably a good idea to have another pre-release, so we can check whether docs.rs works now.

[2019-06-25 14:21] dhardy commented on #715
There's still some doc work needed in the book too.

[2019-06-27 13:43] vks commented on #290
`rand_distr` has been implemented. The duplication between `statrs` and `rand_distr` still needs to be addressed.

[2019-06-27 14:44] dhardy commented on #290
Does this duplication need to be addressed? @boxtown

Statrs claims to be a port from the C# Math.NET library. It implements a bunch of things (e.g. error function, CDFs) that are quite specialised (not widely used). Its distributions are implemented such that properties like `mean` etc. can easily be calculated.

`rand_distr` on the other hand has a narrower focus: only implement sampling algorit

[2019-06-27 14:44] #290 closed

[2019-06-27 15:15] vks commented on #290
We will need some of `statrs` functionality (namely PDFs) to properly test sampling.

[2019-06-27 15:41] boxtown commented on #290
I don't really see a need to de-dupe. Like @burdges mentioned above I don't see a harm in having two approaches to sampling and like you mentioned, the bulk of the work Statrs is doing is in calculating attributes of various distributions

[2019-06-27 16:23] dhardy commented on #290
:rofl:

Last time I tried histogram testing, I think even with 10 million samples I was struggling to get useful results. I think it's probably a dead-end, at least for standard integration testing (though it may be somewhat usable for offline analysis). OTOH "black box testing" (aka testing a few samples produced the same result as last time) is easy to do and somewhat useful.

[2019-06-27 17:35] vks commented on #290
I was able to get errors smaller than 0.001 with a million samples, but this is for (kind of) uniform distributions: https://github.com/rust-random/rand/blob/master/rand_distr/tests/uniformity.rs

For non-uniform distributions it will be more tricky.

[2019-06-28 08:46] dhardy commented on #715
0.7 has been published.

@vks would you make the reddit announcement? I don't have much time.

[2019-06-28 08:46] #715 closed

[2019-06-28 09:01] newpavlov commented on #715
@dhardy
Maybe also make `getrandom v0.1.4` release?

[2019-06-28 09:28] dhardy commented on #715
@newpavlov I just added you to the maintainers team — you should be able to make the release yourself.

[2019-06-28 11:45] vks commented on #715
@dhardy https://www.reddit.com/r/rust/comments/c6j6ge/rand_07_release/

[2019-06-28 19:19] rkarp opened #835 "New version of rand_distr has to be released"
When updating to `rand 0.7`, deprecation warnings tell you to use the `rand_distr` crate. But the latest version `0.2` on crates.io doesn't contain commit 418ae59b2fca08682765197a117a1e0c3cdfee14, so cargo will try to use `rand 0.6.5`, which results in compile errors.

[2019-06-28 19:33] dhardy commented on #835
Odd. Cargo has no problem upgrading from `0.7.0-pre.0` to `0.7.0`, yet for some reason is choosing version `0.6.5` to satisfy `rand_distr`.

But thanks for the info; I'll make a release.

[2019-06-28 20:16] #835 closed

[2019-06-29 23:27] nagisa opened #837 "`rand_core:0.5.0::Error` has no raison d'etre"
The `rand_core:0.5.0::Error` is reduced down to an integer code, which has exactly as much value as no error at all. The stored integer carries no information whatsoever (esp. in generic contexts) and the error, if `Display`ed conveys no useful information either.

Consider for example:

[code]

With that in mind, the next version should reconsider this API change.

[2019-06-30 08:02] dhardy commented on #837
Thanks @nagisa; great to see your input to our long discussion of error types: #800, #771. Your comments appear to be exclusively about the `no_std` variant of `Error`. But I'll let you read through those threads before repeating anything.

[2019-06-30 13:18] nagisa commented on #837
Indeed. Usable `no_std` `Error` is what I care about the most. `std` `Error` seems fine… not that I’ve had a chance to deal with it yet, but many other crates do a similar thing and that seems to work fine.

---

I have seen these issues, but haven’t read through them too thoroughly. I notice that this same issue was brought up at least once by yourself, and never really addressed:

I haven’t seen

[2019-07-01 06:15] dhardy commented on #837
No, I hadn't heard of distributed slices before, and I remain a little sceptical considering we don't have a portable version yet, but we *do* have a limited implementation: https://github.com/dtolnay/linkme . @newpavlov's idea is that crates can each add their error messages to a `[(NonZeroU32, &'static str)]` slice shared by the whole application.

This was the motivation for the previous design

[2019-07-02 00:16] hdevalence commented on #837
What problem is this actually solving? Your proposed solution (distributed slices) requires either language changes or "linker shenanigans"; what benefit does this actually give to an RNG user when they hit an error?

[2019-07-02 04:29] newpavlov commented on #837
I strongly disagree. For end-user having some information about error is better than having none, plus usually you know which RNG you use, so you will be able to check this error code in RNG documentation. This design was heavily influenced by development of `getrandom` crate, but I think it also really well fits constraints of `no_std` applications: has a small size, trivially extensible, error d

[2019-07-03 14:52] vks commented on #804
@mmastrac Does this issue persist with getrandom >= 0.1.5?

[2019-07-04 22:39] burdges commented on #837
Any errors an Rng might generate are either os errors, including special hardware errors, or stream cipher length errors, yes?

[2019-07-04 23:02] nagisa commented on #837
Is *usually* good enough for a *foundational generic* interface? If "usually" is good enough, then the whole concept of the `RandCore` trait is starting to lose its meaning – you could just use the API of the concrete RNG type after all.

Not sure if I would consider hardware errors the same as OS error – hardware isn’t always uniformly abstracted by an OS.

[2019-07-04 23:25] newpavlov commented on #837
Your claim was:

I find it's really strange that you find no information exactly equivalent to no information at all. Even in generic context we are able to match on error codes (e.g. `Error::UNKNOWN` or `Error::UNAVAILABLE`). As for using associated error type, in my experience they are less convenient to handle in generic contexts. Yes, we could define `rand_core::Error` trait and use associated

[2019-07-05 01:51] nagisa commented on #837
With what’s available in 0.5.0 I stand by that claim. Some information will exist in an integer, sure, but without means to interpret the number this information provides no knowledge and therefore no value can be derived.

And just to reiterate, "By knowing that I’m using crate `rand_lava`, and looking at the source code, I now know that error code 42 occurs when somebody unplugged the lava lamp”

[2019-07-05 09:14] dhardy commented on #837
So far our convention has been
[code]
... and all our defined error codes could be considered "unknown" or "unavailable".

We could tweak this and assign meaning to different parts of the code (e.g. 16 bits for a non-zero crate identifier, 8 bits for a "status" code and 8 bits for lib-specific details), then provide functions like `fn is_unavailable(&self) -> bool` which operate on the status bits

[2019-07-05 10:04] newpavlov commented on #837
I think @nagisa means that those constants should be duplicated in the `rand_core`. I don't have objections against it.

Note that with an enabled `std` feature you will get a meaningful error description instead of bare error code for some OS errors (see this [part](https://github.com/rust-random/rand/blob/master/rand_core/src/error.rs#L97) and usage of `error_msg_inner` in `getrandom`). The same

[2019-07-05 11:49] newpavlov commented on #837
@josephlr

With this approach `RngCore` (and IIUC as a consequence `Rng` trait as well) will not be object safe anymore. If we want to query additional information about error, then we will have to introduce an additional `rand_core::Error` trait. To me it looks a bit too complicated compared to the current concrete type which in future can be extended in a backwards compatible way, this is why I'

[2019-07-05 12:13] dhardy commented on #837
IIRC there was some difficulty providing a blanket implementation of the following type due to the lack of specialisation and Rust enforcing no overlapping impls.
[code]
Thus not only does using an associated type make `RngCore` not object-safe, it means no object-safe version of `RngCore` can be implemented automatically for all RNGs. (I guess though we *could* have used a separate `ObjSafeRngCor

[2019-07-05 17:53] burdges commented on #837
If you need a separate trait, then maybe make the rarely used trait the not object safe one, ala
[code]
I've no idea if anyone wants `try_fill_bytes` on an object safe trait, but if so then one could always imagine the completely crazy "not my problem" version.  lol
[code]

[2019-07-06 06:59] Lokathor opened #838 "unnecessary transmutes"
* [x] <https://github.com/rust-random/rand/blob/master/rand_core/src/impls.rs>
* [x] <https://github.com/rust-random/rand/blob/master/rand_pcg/src/pcg128.rs>

Not sure when this code was written, but by replacing `rng.next_u64().to_le()` with `rng.next_u64().to_le_bytes()` we can cut down on some transmutes.

Now, yes, of course `to_le_bytes` does the `transmute` internally, but we should avoid un

[2019-07-06 08:55] dhardy commented on #837
Well, that's the neatest proposal I've heard yet (other than [ditching all information in the `Error` type](https://github.com/rust-random/getrandom/pull/54/#issuecomment-508776704)), but still somewhat disruptive, and doesn't meet @newpavlov's goal of small error values due to the required fat pointer in `RngCore::try_fill_bytes` (though whether that matters in this case is another question).

[2019-07-06 15:45] burdges commented on #837
I doubt my second joke proposal actually works since `E: for<'a> Into<&'a dyn ErrorTrait+Clone>` does not quite suffice, but maybe `E: Into<dyn ErrorTrait>` once DST support improves dramatically.

I suppose associated types break trait objects right from the beginning, so you cannot simply hide the methods from the trait object?
[code]

[2019-07-06 17:03] josephlr commented on #837
So I started experimenting with this, and apparently this `RngCore` is Object Safe. Specifically:
[code]
is Object Safe because to use a `&dyn RngCore` you have to specify an `Error` type.
[code]
but this is a little annoying, we would like the ablity to use a common `Error` type. As @dhardy noted,
[code]
will not work. But we can use a wrapping struct to do the same thing:
[code]
Then a user can

[2019-07-06 17:14] newpavlov commented on #837
Yes, by not being object safe I was implying that you can't use it without fixing the error type, thus you essentially lose all advantages of the associated type.This is why for example in RustCrypto I am using a separate [`DynDigest`](https://docs.rs/digest/0.8.1/digest/trait.DynDigest.html) trait to work around this issue.

Your solution will work, as will a separate object-safe trait, but to me

[2019-07-06 17:27] josephlr commented on #837
I agree, this associated type stuff is probably not worth the hassle. I think that if we can get `getrandom::Error` to have good messages, and have those messages stay good when it's converted to a `rng_core::Error`, I think it would be sufficient.

Is this just the fixes to `getrandom`? Or is there a upcoming language feature that would help?

[2019-07-06 17:35] newpavlov commented on #837
It's not quite "upcoming", but looks like there is enough interest in it (e.g. see this [thread](https://internals.rust-lang.org/t/9840)). It's mentioned earlier in this thread "distributed slices", see for example [here](https://internals.rust-lang.org/t/9879).

But even without this feature we can improve situation by adding a private constant array to `rand_core` with descriptions for most comm

[2019-07-06 22:50] burdges commented on #837
Yes, I similarly meant that associated types must be specified.  I'm unsure however if the object safety rules could relax this if associated types never appeared in object safe methods.

I do think separating out the `TryRngCore` trait above works.  Or heck maybe
[code]
All this sounds like overkill though.

[2019-07-07 09:25] dhardy commented on #837
Agreed, use of an associated type here is overkill. For now, we *mostly* care about `getrandom` errors and could potentially hard-code the error constants for a few other libraries.

We can approach this in two ways; either hard-code all error-codes and messages in `rand_core` or use [@josephlr's re-assignment of getrandom error-codes](https://github.com/rust-random/getrandom/pull/54/files#diff-9a

[2019-07-07 09:53] josephlr commented on #837
With https://github.com/rust-random/getrandom/pull/58, `getrandom` will actually be `no_std`, so we could just unconditionally depend on `getrandom` in `rng_core` and have `rng_core::Error` be a thin wrapper around `getrandom::Error` (when not using the `std` feature). This would make it easy to pass the `Debug`/`Display` implementations through.

[2019-07-07 21:17] yixing-liu commented on #810
I had the same error message with version "0.6.5" and "0.7" with features = flag.
`bootstrap.js:5 Error importing `index.js`: RuntimeError: unreachable
    at __rust_start_panic (wasm-function[171]:1)
    at rust_panic (wasm-function[101]:31)
    at std::panicking::rust_panic_with_hook::h12b7239ed4348eae (wasm-function[24]:303)
    at std::panicking::continue_panic_fmt::hfbe042bfacb6a5d7 (wasm-fun

[2019-07-07 22:22] newpavlov commented on #837
I don't think so. This is why I've insisted on adding the following line to `getrandom` [docs](https://docs.rs/getrandom/0.1.6/getrandom/#error-codes):

So we can change error codes and use the highest bit in error code to distinguish OS errors from custom ones.

[2019-07-08 07:13] dhardy commented on #810
@yixing-liu minimal example please, and also test whether the same happens when using the [getrandom](https://github.com/rust-random/getrandom/) crate directly.

[2019-07-12 14:23] deg4uss3r opened #841 "`rand_core::CryptoRng` and `rand_core::RngCore` is not implemented for `rand_os::OsRng`"
`rand_os` version: 0.2.0
`rustc` version: 1.35.0

When trying to compile a module that uses `rand_os::OsRng` as a number generator for a crypto library ([dalek](https://github.com/dalek-cryptography/x25519-dalek)) I am getting trait implementation errors. From the docs they appear impl'd, but `OsRng` is not compiling with `RngCore` or `CryptoRng` implemented.

[code]

I was simply doing `use rand_

[2019-07-12 14:42] vks commented on #841
`x25519-dalek` v0.5.2 uses `rand_core` v0.3.0 as part of their API. However, `rand_os` uses `rand_core` v0.5.0. The two versions of `rand_core` are incompatible, this includes their traits such as `RngCore` and `CryptoRng`.

You can fix this by using `rand_os` v0.1 (as you did), or by porting `x25519-dalek` to the newest `rand_core`.

[2019-07-12 15:26] dhardy commented on #841
As much as we'd like to make different versions of `rand_core` compatible, [it's not always possible](https://github.com/rust-random/rand/pull/819). Better error messages to clarify the version discrepancy are also outside of our hands, so there really isn't much we can do about this, sorry.

[2019-07-12 15:26] #841 closed

[2019-07-17 09:24] gnzlbg opened #842 "Version 0.6.5 fails to compile in rust-lang/rust"
When upgrading rand to 0.6.5 it fails to compile, see the build logs of this issue: https://github.com/rust-lang/rust/pull/61393#issuecomment-512156615

[2019-07-17 10:44] dhardy commented on #842
AFAICT this is just a case of selecting outdated patch versions (`rand_pcg` 0.1.1 and `rand_core` 0.3.0). I commented in the other issue; next time you can just mention me there?

[2019-07-17 10:44] #842 closed

[2019-07-18 19:30] tko opened #843 "Make WeightedIndex work with weights of Reverse<T: Ord> types as well"
## Background

**What is your motivation?**

I'm playing around with genetic algorithm where a natural way for representing best fitness is when the error is smallest. `Reverse<usize>` is an easy way to transform "smaller error is better" into "bigger score is better" criteria for fitness calculation. However, it's proving to be little cumbersome to get weighted samples in such reversed semantics.

[2019-07-19 09:13] dhardy commented on #843
Sorry, I don't understand why you want to use `Reverse` here. If you want to give smaller weights a higher priority then you might want to do something like this:
[code]

[2019-07-22 01:12] evitalis opened #846 "URL or special character distribution addition?"
## Background

This would be used for any applications that may want to generate URL safe random strings, or random sets of characters for passwords/passphrases. Sure there are more safe crates like ring for hashing passwords but the idea here is to generate something new, not hash an existing string. I saw the Alphanumeric distribution but not one for special characters.

## Feature request

Havi

[2019-07-22 07:11] dhardy commented on #846
Could you please be more specific as to which characters you'd like included? Is there a *standard* set of characters?

Note that the [`Alphanumeric` implementation](https://github.com/rust-random/rand/blob/master/src/distributions/other.rs#L63) is easy to copy and modify for special requirements.

[2019-07-22 08:22] vks commented on #846
Did you consider using [regex_generate](https://github.com/CryptArchy/regex_generate)?

[2019-07-22 18:11] tko commented on #843
Hmm, yes, I didn't think this through. It's not so much for wanting to use Reverse exactly, but rather it's what I have at hand and it's managing reversing the ~polarity~ priority alright, up to the point of getting random samples weighted on those twisted priorities.

You're right, calculating the weights isn't too big a deal (though reciprocal didn't occur to me and I was going with `max_w - w`)

[2019-07-22 18:11] #843 closed

[2019-07-24 10:54] vks opened #849 "Docs are likely built with outdated rustdoc version"
It seems our docs are built with a rustdoc version that does not support the `[item][path::to::item]` syntax: [Example](https://rust-random.github.io/rand/rand/trait.RngCore.html#required-methods).

For reference, the links in local builds and [docs.rs](https://docs.rs/rand_core/0.5.0/rand_core/trait.RngCore.html#required-methods) are fine.

Also see #848.

[2019-07-24 11:04] dhardy commented on #849
[doc-upload](https://github.com/rust-random/rand/blob/master/.travis.yml#L161) happens on a nightly Travis builder, so it seems unlikely that it's outdated?

[2019-07-25 04:15] kpcyrd opened #850 "Please consider reducing the number of rand-* crates"
Hello!

I'm one of the (co-)maintainers of the rand-* packages in debian. I'd like to suggest a discussion about moving from the micro-crate approach to a smaller number of crates.

Our update workflow currently looks like this, we started a rand update shortly after the debian buster release in early July and are still working on it:

1) Due to the number of crates depending on rand we upload sem

[2019-07-25 07:33] dhardy commented on #850
Hello!

I'm guessing you don't have a method of packaging multiple Rust crates into a single dpkg? Because I agree with your assessment that multiple packages make little sense within Debian. Rust already has many small crates, which provides a great mechanism for code reuse.

For version 0.7 we have made some effort to reduce the number of dependencies (see #713). Actually, that list is somewhat

[2019-07-25 09:36] burdges commented on #850
You could package anything you like together, but..

You need some version number for the overall package, so rand should commit to updating its own version number anytime you suggest updating rand sub-crates.  If not, you're ask them to make up this overall version number themselves, which makes no sense.

I'm also curious if/when Rust needs some "packaging and dynamic linking WG" that maintains

[2019-07-25 11:20] dhardy commented on #850
I don't think we want to commit to this: part of the reason for the separation is to de-couple versions.

There is another option which may be relevant when packaging internal dependencies: include them within the same lib (probably possible via automated code mutation; could potentially be done via a compiler option in the future). E.g. `rand_chacha` and its dependencies could all be built into a

[2019-07-25 11:27] vks commented on #850
It is not clear what version this package should have. It's version would have to change for every minor update of `rand` or `rand_pcg` etc. I think there is a lot of potential for confusion.

[2019-07-25 11:47] dhardy commented on #850
Hmm, when it comes to packaging dylibs this doesn't help.

[2019-07-25 11:57] vks commented on #850
Actually, this is probably fine: Debian's `rust-rand` could be the `rand` crate with default features, the corresponding `rand` version and the Debian revision could be increased whenever the packagers run `cargo update` to rebuild `rust-rand`.

[2019-07-25 12:01] dhardy commented on #850
Perhaps @burdges is right that we should commit to updating the `rand` version any time we publish a semver-incompatible version of a dependency, *for certain crates* (I mean, so far we have published a new `rand` minor version almost every time we have published a new minor version of `rand_core` and PRNG crates). This of course means it will be harder releasing new versions of those crates, but

[2019-07-25 12:03] dhardy commented on #850
@vks's idea by itself could result in multiple versions static/thread-local symbols within binaries (e.g. `ThreadRng`) and unnecessary copies of code, but no API breakage at least.

[2019-07-25 13:22] burdges commented on #850
We'll see if @kpcyrd thinks such versioning tricks suffice.. or maybe if other issues cause the trouble.

Apologies for the derail..  I have not considered rand's version trick much, so not sure if that's the real solution.  I do think rust binaries including multiple crate versions makes sense for a young developing language, but rust eventually becoming a real systems language in which people wr

[2019-07-25 15:52] vks commented on #838
This was fixed with #840.

[2019-07-25 15:52] #838 closed

[2019-07-26 08:24] gnzlbg commented on #850
That sounds nice until things break.

I personally do not mind whether rand uses zero or 200 dependencies, but rand should make sure that it works with every valid single combination of its dependencies, and that updating minor rand versions works under arbitrary valid dependency graph constraints.

The more dependencies rand has, the more work this takes. The concern isn't theoretical: a patch le

[2019-07-26 08:32] dhardy commented on #850
@gnzlbg I disagree. See #741 for example. This type of testing adds a lot of work for very little gain. For the specific issue you mention, I believe the *correct* solution would be to mark `rand_core` 0.3.0 as *incompatible* with version 0.4.0, thus forcing use of the compatibility shim 0.3.1. However, Cargo and semver simply always consider it acceptable to link multiple copies of a library into

[2019-07-26 08:35] gnzlbg commented on #850
The `link` cargo key can be used to enforce that only a single version of a crate is linked. A dependency graph can only contain one crate with a particular `link` key.

I'm not suggesting that you test this, I'm arguing that this shouldn't happen. How you achieve that goal is up to you.

[2019-07-26 08:37] dhardy commented on #850
Where are the docs for that?

[2019-07-26 08:37] gnzlbg commented on #850
https://doc.rust-lang.org/cargo/reference/manifest.html#the-links-field-optional

[2019-07-26 08:40] dhardy commented on #850
So we would need to make `rand_core` a "native" library with a C API to do this? That's not a solution.

[2019-07-26 08:41] gnzlbg commented on #850
No, that is not required.

[2019-07-26 09:06] dhardy commented on #850
So if we add `links = "rand_core"` and an empty build script to every version of `rand_core`'s manifest (via new patch releases), that should usage of multiple versions of `rand_core`? Or not? That documentation states no reason for this to be the case. It's also a heavier hammer than we need (which would e.g. prevent usage of `rand` 0.6 and 0.7 simultaneously).

It's also not possible to do that

[2019-07-26 09:10] gnzlbg commented on #850
If you do that, only a single version of `rand_core` is allowed in the dependency graph.

Note that the error produced in rust-lang/rust is a link-time error. That's super weird to encounter in Rust, and often only happens if you are trying to link two incompatible versions of a C library anyways.

This is broken already, at least for some combinations of rand 0.6 and 0.7.

You probably would need

[2019-07-26 09:14] dhardy commented on #850
It isn't the compatibility wrapper which is responsible for link-time errors, it's the usage of multiple versions of a shared API (`rand_core`) *without* a compatibility wrapper which is responsible.

I don't think yanking 0.3.0 would fix anything: the *only* users hitting this error are those doing a conservative upgrade from an early 0.6.x of `rand` who are not updating `rand_core`. For *everyon

[2019-07-26 09:23] gnzlbg commented on #850
So how does that result in linking errors of C symbols? Maybe we should move this conversation to a different issue.

[2019-07-26 09:25] dhardy commented on #850
It doesn't. Sounds like we're talking about different issues, so yes, open a new issue if you like.

[2019-07-26 09:32] gnzlbg opened #852 "link error in rust-lang/rust when updating rand_core from 0.3.0 to 0.3.1"
Note: discussion continues from #850

Upgrading rand_core from 0.3.0 to 0.3.1 produces the following link error in rust-lang/rust .

[code]

[2019-07-26 09:40] dhardy commented on #852
Weird. I don't know what to make of that.

[2019-07-26 09:48] gnzlbg commented on #852
I tried finding out whether any of the new dependencies of `rand_core 0.3.1` was causing this but found a different workaround before getting to the bottom of it.

AFAICT, upgrading to `rand_core 0.4.0` directly does not have this issue.

[2019-07-26 09:56] dhardy commented on #852
So it may be something to do with the compatibility shim (depending on multiple versions of the same crate).

I know we have doc errors with these (see #619). I didn't know they also caused linker errors.

[2019-07-26 10:25] gnzlbg commented on #852
I briefly tried to come up with a standalone reproducer outside rustc without much luck, so there might be an interaction with how rustc uses rand as well.

[2019-07-26 12:22] mati865 commented on #852
Moving from https://github.com/rust-lang/rust/pull/61393#issuecomment-515424822

Upgrading `rand_core` doesn't cause this issue (see linked comment), upgrading `rand` is what causes it. I think it has something to do with new dependency `rand_jitter` added by upgrading `rand`, more specifically `pub extern crate rand_core;` in it's code but that's just a guess.

[2019-07-26 15:55] vks commented on #846
For generating passwords, we could provide custom template-based distributions like the [Master Password algorithm](http://www.masterpasswordapp.com) uses. I have an old implementation of that [here](https://github.com/vks/mpw-rs/blob/ab81ee4340815c607f863fba28a1ffc8d065ebb3/src/algorithm.rs#L284). However, this does not need to be in Rand, it can easily be implemented in a separate crate.

[2019-07-28 14:58] evitalis commented on #846
@dhardy I was thinking of any printable character from a standard US or GB keyboard, though some of those are not URL safe.

[2019-07-29 06:54] burdges opened #854 "rand_os crate has no purpose now"
If I understand, rand_core now depends upon getrandom for `SeedableRng::from_entropy`, which makes the rand_os crate pointless.

Ideally, I'd think `OsRng` should be merged into rand_core, rand_os should be deprecated, and the `SeedableRng::from_entropy` method removed.

Alternatively, you might remove both `SeedableRng::from_entropy` method and the rand_core dependency on getrandom, making rand_o

[2019-07-29 08:35] dhardy commented on #846
@evitalis GB keyboards include `¬¦£` which are not even ASCII. I'm sure if all systems expecting special chars in a password use the same rules either. One password generator I use has this default set, but it's not fully reliable:

[code]

I'm not really sure what problem this generator should be trying to solve. Apparently it's not [memorable passwords](https://www.xkcd.com/936/) but it wouldn't

[2019-07-29 08:57] dhardy commented on #854
But why? `from_entropy` was added as a convenience method then promoted as the default way to get a fresh seed because it makes sense. (Except when you actually want a seed in byte form — then you can use `getrandom` directly.)

I agree, `rand_os` is basically useless. We left it because... there *might* be people who want it but don't want the whole of `rand` — at any rate, it shouldn't need much

[2019-07-29 10:05] newpavlov commented on #854
For example I plan to use `OsRng` in RustCrypto crates as a default entropy source and I don't want to bring the whole `rand` into dependency tree by default. And I don't think that `rand_core` will be a correct place for `OsRng`.

[2019-07-29 10:07] burdges commented on #854
I see..

Yes, I'd want a shim so the merlin crate would work with rand_core 0.5, but not sure if that's even possible.  I've crates now stuck at rand 0.6.? for the foreseeable future.

I actually think `SeedableRng::from_entropy()` should not be considered a breaking change, but..

I still think `SeedableRng::from_entropy()` appears poorly thought out.  It'll never be used by numerical users, who

[2019-07-29 10:16] vks commented on #854
How are `Rng` and `RngCore` related to `SeedableRng`? They are independent traits. Also, I think all numerical users who  want to initialize an RNG with random data want to use `from_entropy`.

[2019-07-29 10:29] newpavlov commented on #854
Probably I wasn't explicit enough: I plan to use types generic over `R: RngCore + CryptoRng`, and "default" methods like `new` would return `Self<OsRng>`. So users will be able to easily replace `OsRng` with `ThreadRng` or something entirely different. Yes, those types could be generic over `FnMut`, but I believe such approach will be less ergonomic and harder to understand.

[2019-07-29 12:15] burdges commented on #854
You cannot make that work because `OsRng` and `ThreadRng` must not be `SeedableRng`.

Above, I'm saying you're plans audit poorly even if you pass `ChaChaRng`, and call `SeedableRng::from_entropy`, because no individual crate can enforce the contract that `SeedableRng::from_entropy()` calls getrandom.  `ReseedingRng` audits better and already exists.

It still appears `SeedableRng::from_entropy()`

[2019-07-29 23:55] evitalis commented on #846
My original thought was to generate unique, short, string IDs for URLs like other URL shorteners. But then the idea came about for the other characters even though that was secondary. I figured it was ok to inquire since there is the alphanumeric distribution as well. If its not a fit for the rand crate that is ok too. Wasn't sure if it was random numbers only given the characters as well.

Thanks

[2019-07-30 07:36] dhardy commented on #846
The current `Alphanumeric` distribution is perfectly adequate for generating unique IDs anyway right? I mean it's only base 62 but 11 chars of that still gives you more possible values than a `u64`.

I'll close this now because there doesn't seem to be a clear goal (as to why `Alphanumeric` is not good enough or why this is generally useful enough to include in `rand`).

[2019-07-30 07:36] #846 closed

[2019-07-30 08:56] dhardy commented on #854
Both `ThreadRng` and `OsRng` can be constructed via `Default`, or you can simply pass an instance (if on the same thread).

So your complaint is that now auditors must examine both the `SeedableRng` trait and the RNG implementing it? Isn't that necessary anyway?

[2019-07-30 10:09] burdges commented on #854
Just to clarify:  I do not claim `from_entropy` is super dangerous.  I claim `from_entropy` is slightly dangerous and totally useless.

Any generic code must choose if it constructs an `RngCore` by `Default::default` or `SeedableRng::from_entropy`.

If you employ `SeedableRng::from_entropy` then you'll never make `OsRng` and `ThreadRng` work because they cannot satisfy `SeedableRng`.  It follows t

[2019-07-30 10:55] dhardy commented on #854
But of course. This is the case anyway unless you propose that `OsRng` should implement `SeedableRng` just so that generic code can do `OsRng::from_rng(other_rng)`, but I'm not sure that's useful? Code generic over the RNG it uses should also allow use of an *existing* RNG, which usually means accepting that by value or `&mut` (or could mean using a lambda to get the RNG).

Actually, just about th

[2019-07-30 12:24] vks commented on #854
I agree that it makes sense to move `OsRng` to `rand_core` and deprecate `rand_os`. I think the "unclear crate naming" argument is weak, because `from_entropy` is already providing very similar functionality. Regarding the minimalism argument: `OsRng` would still depend on the `getrandom` flag, so people who don't like it can easily disable it.

[2019-07-30 13:30] dhardy commented on #854
That we can do with minimal chance of breakage (including a new release of `rand_os` which is deprecated). However, I think we should wait a while for further comment before committing ourselves.

The follow-up question is whether we should deprecate `from_entropy` (which would affect many of our benchmarks and I think many users). @burdges provides a reasonable rationale for doing so, but it must

[2019-07-30 13:56] newpavlov commented on #854
Well, we can mark `from_entropy` as deprecated and remove it only in `rand_core v0.6`. But I disagree with the argument that it's an audit hazard, as @dhardy said earlier `SeedableRng` implementation can do anything it likes, including returning zeros instead of the random data, so full review of the PRNG implementation is still required and unreasonable re-implementation of `from_entropy` will be

[2019-07-30 16:35] dhardy commented on #854
Yes, de-duplication is one of my rationales.

We *could* add a function like follows instead of `from_entropy`, but personally I'd rather just keep `from_entropy`:
[code]

[2019-07-30 16:44] burdges commented on #854
In principle `from_rng` could also have a test vector, unlike `from_entropy`.  Yet, `from_rng` would not often become subject to other crate's test vectors, unlike `from_seed`, so yes.

Ahh, I now understand, thank you !!!  :)

In my mind, we were keeping `ReseedingRng` out of rand_core mostly to satisfy cryptography folk who dislike anything except the OS's CSPRNG.  And `from_entropy` is worse th

[2019-07-30 16:50] burdges commented on #854
As an aside, there are also almost perfectly deterministic computing environments, like the "execute block functions" in most blockchains, which afaik ban randomness, floating point arithmetic, etc.  I suppose getrandom might exist but panic in such environments?

[2019-07-30 17:06] newpavlov commented on #854
Right now `getrandom` uses [a dummy implementation](https://github.com/rust-random/getrandom/blob/master/src/dummy.rs) which always returns error on unsupported targets. So `from_entropy` would always panic in such environments. There is [a proposal](https://github.com/rust-random/getrandom/issues/49) to use a compile-time error on unsupported platforms, but we have not decided what to do yet.

We

[2019-07-30 17:32] burdges commented on #854
Oh?  Are all the concerns about features being additive addressed?

[2019-07-30 17:43] newpavlov commented on #854
AFAIK, yes. `getrandom` feature only enables `from_entropy` method and `From<getrandom::Error>` impl.

[2019-07-30 19:55] dhardy commented on #854
@burdges `rand_core` has been since its creation a "minimal API crate"... yet it seems to be growing. If we were to add `ReseedingRng` there the next question would be `ThreadRng`... no thank you (to both). (Arguably all the `block` stuff doesn't belong in `rand_core` either, but in that case the only option would be yet another crate.)

@newpavlov `impl From<getrandom::Error> for rand_core::Error

[2019-07-31 12:42] gnzlbg opened #855 "Migrate rust-lang/rust to rand_core 0.7"
Every time a new release of rand happens, it would make sense to migrate rust-lang/rust to use it, since it is a huge user of `rand` that can discover oversights and design directions that might be problematic.

It is a particularly good place to test "future compatibility"-shims. These are hard to write, but the dependency graph of rustc is big enough to exercise them in many different ways.

[2019-07-31 13:52] dhardy commented on #855
I disagree about it being a good place to test compatibility shims — small examples are quite enough. The issue with rand 0.6.5 is simply that it violates semver rules as you pointed out — I don't believe this is worth fixing now, since doing so would require yanking crate versions already in widespread usage, downgrading to `rand_core` 0.3.x and would break `no_std` support for all Rand 0.6.x use

[2019-07-31 14:36] gnzlbg commented on #855
I am just pointing out that probably nobody is going to try because it is currently already too much work, and this will mean that 0.6.1 and 0.7, newer 0.7.x versions, and in the future 0.8, 0.9, etc. will need to build and work properly in rust-lang/rust dependency graph. The more that happens, the harder it is going to be to find a workaround to fix things quickly if things break.

[2019-08-02 13:20] mati865 commented on #855
I'll see what I can do about this issue.

[2019-08-02 14:05] mati865 commented on #852
Looks like breakage happened much earlier.

First I upgraded rand dependencies:

<details>
<summary>Details</summary>

[code]

</details>
Rust built fine.

Then I upgraded rand itself from `0.6.1` to `0.6.2`
<details>
<summary>Details</summary>

[code]

</details>
And got this error:
[code]

Commits between 0.6.1 and 0.6.2 tags:
https://github.com/rust-random/rand/compare/0.6.1...0.6.2

I'll try t

[2019-08-02 15:57] mati865 commented on #852
5a67e325ae4e97a3b70a247cd341079090eaff64 is the last working commit and the error begins with https://github.com/rust-random/rand/commit/afd29d00be43ce718bbe49c0822a98c65a750550

@dhardy does it make any sense? I can test Rust with any changes to `rand` or `rand_os` you want but I need some guidance.

[2019-08-05 11:32] mati865 commented on #855
Upgrading all Rust crates to `rand 0.7` fail with the same error as upgrading to `rand 0.6.5` https://github.com/rust-random/rand/issues/852

[2019-08-06 06:54] dhardy commented on #852
@mati865 thanks for the work narrowing this down. That's still quite a big PR unfortunately. Do you have the same issue with `getrandom`? I think you mentioned you get the same error with rand v0.7 which doesn't even use the `rand_jitter` and `rand_os` crates any more.

[2019-08-06 07:16] mati865 commented on #852
I'll try stripping rand 0.7 of getrandom.

My current understanding is this has something to do with the way Rust is linked. Most of the crates are put together into `dylib` called `rustc_driver`. Then `rustc_main` is created using that dylib and few other `lib` crates, this is where the linkage fails.

Oh and `libc` crate does provide that symbol but it's not linked at this point.

[2019-08-06 07:25] dhardy commented on #852
CC @newpavlov @josephlr

[2019-08-06 09:18] mati865 commented on #852
After getting rid of `getrandom` I was able to build Rust with rand 0.7.
Diff of the changes:

<details>
<summary>Details</summary>

[code]

</details>
I'll try to reduce it.

[2019-08-06 09:40] josephlr commented on #852
@mati865 which version of `getrandom` is being pulled in when you build? I noticed that the `Cargo.toml` says 0.1.1, but what happens if you fix a particular version of `getrandom`?

[2019-08-06 09:51] mati865 commented on #852
@josephlr tested 0.1.7 and 0.1.8.
With https://github.com/rust-random/getrandom/pull/58 applied stage0 built fine and I'm sure rest of the build will be fine.

[2019-08-06 09:54] josephlr commented on #852
That change includes the `libc = { version = "0.2.60", default-features = false }` change in our `Cargo.toml`. If you just apply that one line, does that also fix the issue?

[2019-08-06 09:59] mati865 commented on #852
I think I starting to understand what happened.
Libc doesn't link `libc.so` when using default features because libstd should do it: https://github.com/rust-lang/libc/blob/7c8e397c0cc463e60345183d77de8b66431d7316/src/unix/mod.rs#L296
Apparently things get weird when Rust is bootstrapped and as the result `libc.so` is not linked at all.

[2019-08-06 10:00] mati865 commented on #852
Stage0 is fine so the answer is yes.

[2019-08-06 10:04] josephlr commented on #852
Ok, so it sounds like rust-random/getrandom#58 will fix this issue.

@dhardy do you want me to put the one-line change in a separate PR, or should we just wait for  rust-random/getrandom#58 to get merged?

[2019-08-06 10:04] josephlr commented on #852
Also, thank you so much @mati865 for helping us debug this issue, it sure is a tricky one.

[2019-08-06 10:49] mati865 commented on #852
Good to have this issue solved.
Does anyone want to upgrade rand in Rust once getrandom crate receives new release?
I can take care of it.

[2019-08-07 14:18] burdges commented on #854
I'd love some clarification on two points:

Should getrandom/`OsRng` work on no_std targets?  If so, how should one learn if `OsRng` exists?  Is there some trick for doing roughly this?
[code]
We need the error type from getrandom but if getrandom cannot work then rand_core could break the build with an informative error message whenever someone sets its rand_os_required feature maybe?

Should cra

[2019-08-07 16:13] newpavlov commented on #854
Not on all, but on some yes (e.g. SGX). If `getrandom` supports the given target, then `OsRng` will work as well. After rust-random/getrandom#71 lands users will get a compilation error on unsupported targets. In application they can replace `getrandom` with a custom crate supporting their target.

I think you ask a wrong question. If application or library requires system entropy it has to use `g

[2019-08-07 18:18] BaoshanPang opened #858 "How rust get rand crate in building?"
In building rust, I see there are two version of rand have been downloaded into my CARGO_HOME directory, one is 0.6.1, one is 0.7.0. I aslo see the layout of the souce code is quite differnt than what we can see here.

So my quesiton is how/where rust fetch the rand crate source code? In other word, if I want to add something to rand and build it with rust, how should I setup my work environment s

[2019-08-07 19:37] burdges commented on #854
I read https://github.com/rust-random/rand/blob/master/rand_os/Cargo.toml#L25 as activating std for rand_core whenever rand_os gets used, maybe causing https://github.com/w3f/schnorrkel/issues/31#issuecomment-518519897  And rand_os never says `default_features = false`

Cute trick

Yes, crates should be "generic" over `RngCore + CryptoRng` for various reasons, like test vectors, but..

Any "user f

[2019-08-07 20:23] newpavlov commented on #854
Oh, good catch! This is indeed an oversight. `rand_os` should only activate `getrandom` feature (for converting `getrandom::Error` to `rand_core::Error`). I think it's a leftover from times when `getrandom` was mostly an `std` crate. It will be fixed in #859.

You can write code like this:

[code]

Unfortunately defaults for type parameters don't work for functions, see rust-lang/rust#36887.

BTW

[2019-08-07 21:39] burdges commented on #854
Yes `struct Foo<R: Copy=DefaultRng> { .. }` helps.  I think the `thread_rng` feature gets messy, but not sure if my rand and rand_os features improve upon that.

Are there build.rs tricks with which `DefaultRng` could be defined by rand_os/rand_core only when rand does not exist?

[2019-08-07 21:48] newpavlov commented on #854
AFAIK no. It's essentially boils down to a problem of detecting if current build uses `std` or not. So `std` feature is our main tool right now. I guess we could add a `DefaultRng` alias to rand which will handle this switching depending on `std` feature (although personally I probably would not use it, since even with a disabled `std` feature `rand` is not a small dependency).

[2019-08-08 08:09] vks commented on #858
Cargo fetches your dependency depending on what is specified in `Cargo.toml`. You can [specify a path dependency with Cargo](https://doc.rust-lang.org/cargo/reference/specifying-dependencies.html#specifying-path-dependencies) to use a local copy of Rand. Does this work for you?

[2019-08-08 08:13] dhardy commented on #858
Manually downloading crates.io archives [is not as easy as might be desired](https://github.com/rust-lang/crates.io/issues/1592), but is possible.

Alternatively you can clone this repository. The current master is not that different than 0.7.0; there are also git tags for each release.

[2019-08-08 14:20] burdges commented on #854
Cool.  We've two approaches for inclusion code from lib.rs then, either
[code]
or else
[code]
which you invoke via `DefaultRng::default()`.

[2019-08-08 18:34] dhardy commented on #854
I don't think this is the place to discuss your library's API. I personally have no idea what your requirements are, and it sounds like you also have little idea (e.g. whether it should compile with neither `rand_os` nor `rand`, or whether performance of `DefaultRng` for repeated calls is important).

---

I think the only action item from this issue is the question of moving `OsRng` into `rand_co

[2019-08-08 20:50] burdges commented on #854
Yes, sorry for the derail.  :)

[2019-08-09 06:46] crlf0710 opened #862 "Consider providing Rng methods as inherent methods"
Rng is almost always used, so maybe consider providing its methods to at least `thread_rng`.
Maybe using  https://github.com/dtolnay/inherent ,

[2019-08-09 08:19] dhardy commented on #862
Traits are a core part of the Rust language. Is adding stuff like this really in the best interests of users, or is it simply causing confusion (I don't need to import `Rng` so why do I need to import `SeedableRng`)?

The other angle on this is that we have been asked quite a few times to minimise dependencies.

[2019-08-09 09:21] #858 closed

[2019-08-09 09:42] vks commented on #849
The links still seem to be broken.

[2019-08-09 10:05] dhardy commented on #849
You're right; apparently #848 only fixed them being recognised as links.

[2019-08-09 19:55] newpavlov commented on #862
Note that it will cause duplication of methods. Personally I believe it should be a language feature: rust-lang/rfcs#2375

[2019-08-09 20:53] burdges commented on #862
Addressed by `use rand::prelude::*;`

[2019-08-11 09:34] burdges commented on #855
Is there going to be a shim rand_core 4.3 crate around rand_core 0.5?  I missed the shim debate

[2019-08-11 09:59] burdges opened #865 "Any shim rand_core 4.3 crate around rand_core 0.5?"
Is there going to be a shim rand_core 4.3 crate around rand_core 0.5?

It's only the Error type that broke in https://github.com/rust-random/rand/pull/800/files#diff-52e6ceb949d7fa383058092b498596b0R21 so doing a shim is non-trivial, and might break other things, right?

[2019-08-11 10:02] burdges commented on #854
We can close this issue in favor of further discussion on https://github.com/rust-random/rand/pull/863 since the issues got kinda confused here mostly due to my miss understandings.

[2019-08-11 10:26] #854 closed

[2019-08-11 10:43] burdges commented on #865
I'd missed that `kind` and `msg` are marked pub in the old error, so the only viable shim would be a wrapper type, which itself could appear elsewhere.
[code]

[2019-08-11 18:44] dhardy commented on #865
No. See #819.

[2019-08-11 18:44] #865 closed

[2019-08-11 20:06] burdges commented on #865
Right I figured out the Error types break.  :)  Individual crates could however use `RngCore5As4` be rand_code 0.5 themselves while using rand_core 0.4 dependencies.  I do not suggest including `RngCore5As4` in rand_core of course, more some one off hack for anyone who needs it.

[2019-08-14 00:47] cbeck88 commented on #313
@dhardy I think it's worth pointing out that `getrandom` is currently a `no_std` crate

https://github.com/rust-random/getrandom/blob/master/src/lib.rs#L127

so the "second half" of the problem seems solved?

[2019-08-14 07:48] dhardy commented on #313
The second half of this problem is https://github.com/rust-random/getrandom/issues/4 .

As for the "first" half of this problem, I'm not sure how much genuine interest there is, and for what type of solution (thread-local, shared-with-mutex, single-thread reentrant-safe, simple single-thread).

I think it may not be useful to pursue a general solution in this crate, however I guess this issue can

[2019-08-15 11:52] matklad commented on #862
Case point: `std::io::Stdin` has `read_line` inherent method, which is a convenience over `BufRead::read_line(stdin().lock())`.

I think a good design for maximizing usability is Python's `random`: it re-exports methods on default global rng as module-level functions.

`rand` sort-of does this, but it only exports `random`, which proxies to `Rng::gen`, while other functions are not proxied. Additi

[2019-08-15 14:07] dhardy commented on #862
We *could* do that. We have been more leaning towards suggesting users cache the `rng` handle at least within their current function.

If we want to expand this to `choose` I guess we'd have to pick the more general implementation, for iterators. Performance isn't much different so long as size hints are available.

A drawback is the arbitrary choice of which functions to make available this way:

[2019-08-16 15:12] newpavlov opened #867 "Simplify CI config?"
Most (if not all) of the cross-platform functionality has been moved to `getrandom`, so I think the current CI config can be dramatically simplified. I think we can use the following CI jobs:
- Linux, x86-64, Rust 1.32
- Linux, x86-64, stable
- Linux, x86-64, nightly (+ docs?)
- Linux, PowerPC, nightly (big-endian test via cargo-cross)
- Linux, i686, nigthly (32-bit test)
- `no_std` test, nightly

[2019-08-18 13:12] burdges commented on #699
Anyone looked into whether ideas around `JitterRng` work in WASM?

[2019-08-18 15:44] russellmcc opened #868 "Can't compile 0.7.0 in `no_std` environment"
Starting from `cargo new rand_test`, I added the following line to `Cargo.toml`: `rand = { version = "0.7.0", default-features = false }`.  Then, replaced `main.rs` with the following file:

[code]

Then, I tried to compile it for arm with `cargo build --target thumbv7em-none-eabihf`.

I expected errors about not including exception handlers/runtime, but instead, I got the following error:

[code]

[2019-08-18 15:45] russellmcc commented on #868
The same test with 0.6.0 seems to work great.

[2019-08-18 22:45] KodrAus commented on #868
It looks like somewhere in our dependency graph is a version of `lazy-static` that isn't disabling its std support.

If you look in your `Cargo.lock` are you able to tell which dependencies are pulling in `lazy-static`?

[2019-08-18 23:14] russellmcc commented on #868
As I mentioned, only `rand` was directly added to my dependencies.  Here's the output of `cargo-tree`:

[code]

So, it looks like `c2-chacha` might have something to do with it - I'm not sure I know a tool that can dump out which features are enabled in the dependency graph.

[2019-08-19 08:56] vks commented on #868
If you build `rand` without the `std` feature, this should propagate to `c2-chacha`, which should build without `lazy-static` at all. I'm puzzled why this is not the case.

[2019-08-19 09:01] vks commented on #868
If you run `cargo tree --no-default-features` on the Rand root, `lazy-static` does not appear in the dependency chain. However, for a project depending on `rand` without default features you get the output above. Is this a Cargo bug?

[2019-08-19 13:05] dhardy commented on #699
IIRC WASM deliberately does not have high-resolution time-stamps, so implementing a jitter-based RNG is impossible.

[2019-08-20 05:22] burdges commented on #868
Isn't that the cargo bug where crates wind up with their test features?

[2019-08-20 09:15] vks commented on #868
@burdges You are right, the problem is that the dev-dependency `rand_hc` pulls in `std` unconditionally. I will submit a fix.

[2019-08-20 13:25] russellmcc commented on #868
Aha; it looks like this is fixed on the master branch.  Sorry for the noise!  Eagerly awaiting a new release!

[2019-08-20 13:26] #868 closed

[2019-08-20 17:02] JMS55 opened #871 "IteratorRandom::choose_multiple() is not deterministic"
Run [this playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=f854d6fa8a93c55349335d36a2af5d3c) multiple times. Each time, the output will be different.

[code]

[2019-08-20 17:02] #871 closed

[2019-08-21 09:13] vks commented on #871
You can use a manually seeded RNG if you require determinism:

[code]

[2019-08-22 07:14] dhardy commented on #868
Sorry, I have limited access at the moment, but if @vks opens a PR preparing a new release I can do the rest. However maybe we want to deal with some of the other PRs first?

[2019-08-22 13:32] BurntSushi commented on #741
@dhardy

In [this comment](https://github.com/rust-random/rand/issues/850#issuecomment-515361660), you mention that adding this test is a lot of work. Could you say more about the work you perceive that is involved in adding a minimal version check?

[2019-08-26 13:40] nox commented on #741
If a crate says it depends on foo 1.2.3 but it actually requires foo 1.3.0, that's a bug in that crate.

[2019-08-28 07:24] dhardy commented on #741
@nox if a crate "depends" on version 1.2.3, Cargo would (by default) pick the latest 1.2.x version (≥1.2.3).

In contrast when talking about *patch* versions, any x.y.z with a newer x.y.w (w > z) is effectively obsolete. No matter whether the author wishes to still "support" x.y.z or not, *Cargo does not even let you patch it*. The only direct control an author still has over such a version is to

[2019-08-28 07:43] nox commented on #741
This is not true, you can always downgrade crates or just not update them, with cargo update -p.

If you say you depend on version 1.2.3 but uses an API from 1.3.0 that’s a bug in your crate.

[2019-08-28 07:44] dhardy commented on #741
Obviously, and one that the usual CI will pick up already.

[2019-08-28 07:48] nox commented on #741
Now I'm confused, that's literally what this issue is asking for and what you are arguing against doing!

[2019-08-28 08:19] dhardy commented on #741
There's a very important difference between *patch* versions and *minor* versions. This issue is about testing the minimum supported patch version.

I have no issue with PRs updating the required patch version, I just don't wish to add testing.

[2019-08-28 08:21] nox commented on #741
No, this issue is about minimal versions. If your crate says it works with 1.2.0 but it actually requires 1.2.1, that's a bug in your crate.

[2019-08-28 08:22] nox commented on #741
There is no difference from semver's POV between patch and minor versions on the front of version comparison and compatiblity, backwards compatibility is preserved in both a minor bump or a patch bump.

[2019-08-28 08:25] dhardy commented on #741
But there is a very real difference from the point of view of Cargo:

1.  Cargo always selects the latest patch version unless you are very specific about not doing so, or use a very selective update (`cargo update -p ...`)
2.  It is possible to patch any minor version with an update. However, for patch versions, only the latest can be updated. One should therefore assume that any patch version wi

[2019-08-28 08:27] nox commented on #741
Yes, just like it will select `1.3.0` if it exists and you say you depend on `1.2.3`. Cargo makes no difference about that. It will always use the most recent one, which end users may downgrade with `cargo update -p`. That's something we do often in Servo because of various reasons which arise when you have a 600 crates graph.

Real world says otherwise, and sometimes people add entirely new APIs

[2019-08-28 08:39] nox commented on #741
The part I'm confused about the most is that if you already have CI to prevent from depending on 1.2.3 when you actually need 1.3.0, then it costs absolutely nothing more to prevent from depending on 1.2.3 when you actually need 1.2.4: just make a test run with the minimal versions.

[2019-08-28 08:39] dhardy commented on #741
It does? It does. That invalidates that argument I guess.

Any patch version with a newer patch release for the same major.minor.

[2019-08-28 09:46] dhardy commented on #850
I will close this issue now because (a) it has gone off-topic, (b) it appears to relate more to Rand 0.6, and (c) it has no concrete deliverables. I do consider this an important aspect of any design changes.

For reference, this is the dependency tree of a minimal crate:
[code]
Of these, `getrandom` is an important separation (whose functionality might eventually be added into the `std` lib); `ra

[2019-08-28 09:46] #850 closed

[2019-08-28 10:00] dhardy commented on #741
On reflection, I believe we should add some testing with minimal versions as requested.

I guess at this point I owe @BurntSushi and others an apology for dismissing this request, however I would like to request that arguments be based on evidence (e.g. minimal version testing may have prevented the `rand 0.6.5 + rand_core 0.3.0` issue; perhaps there are similar issues that may have been avoided i

[2019-08-28 10:00] dhardy commented on #867
Agreed; it's worth reviewing this, and fixing #741.

[2019-08-28 11:05] dhardy opened #872 "rand_chacha and reducing dependencies"
This is basically forked from #850: a request to reduce the number of dependencies. This issue is opened for **discussion** since previously it did not have much. Also see: #667, #789.

As can be seen, this crate has several dependencies of its own, and is also the only required dependency of `rand` (besides `getrandom`, `rand_core` and on some platforms `libc`):
[code]

### Probable resolution: n

[2019-08-28 11:13] dhardy commented on #862
**Proposed resolution:** reject. This adds to API surface for only minor convenience, and the `rand::random` → `rand::gen` suggestion would be a breaking change.

In pursuit of open design, I will leave this topic open for discussion for some more time. Evidence-based arguments are preferred, but this is mostly an opinion issue.

[2019-08-28 11:16] dhardy commented on #855
Thanks @mati865 for [addressing this](https://github.com/rust-lang/rust/pull/63806).

[2019-08-28 11:16] #855 closed

[2019-08-28 11:19] dhardy commented on #852
I understand this is resolved.

[2019-08-28 11:19] #852 closed

[2019-08-28 11:41] dhardy commented on #867
We also sometimes get timeouts due to the [build cache](https://travis-ci.org/rust-random/rand/jobs/575685481). I wonder if it is still useful to use this cache?

[2019-08-28 15:42] dhardy commented on #741
Fix in #874; a review would be appreciated. Note that I had to add a couple of indirect dependencies to make things work :grimacing:

[2019-08-29 03:06] newpavlov commented on #872
I think @tarcieri plans to implement SIMD acceleration for `chacha20` crate. After it will be done we could make dependency on `stream-cipher` optional to reduce number of dependencies when used from `rand_chacha`. We even could implement `BlockRngCore` directly by adding an optional dependency on `rand_core`.

BTW we were thinking about introducing a generic wrapper _à la_ `BlockRng`. Maybe it's

[2019-08-29 03:27] tarcieri commented on #872
SIMD support in the `chacha20` crate would take me ~1 day. The algorithm is trivial.

I really like the idea of having a "raw" API for the ChaCha20 core and making the rest of the crate dependencies optional (but default-enabled).

[2019-08-29 08:47] dhardy commented on #872
Having another fast implementation of ChaCha20 does give us options.

Does it not still suffer the problem of language SIMD support being experimental?

[2019-08-29 09:02] newpavlov commented on #872
Well, x86(-64) intrinsics have been stable for a relatively long time (since 1.27), so I wouldn't call them "experimental". One noticeable issue is the absence of `is_..._feature_detected!` macros in `core` (see rust-lang/rfcs#2725). But since initially we will support only x86(-64) (since intrinsics for other arches are still only [available](https://doc.rust-lang.org/nightly/core/arch/index.html

[2019-08-29 09:21] dingxiangfei2009 opened #875 "How to migrate from rand::prng::ChaChaRng to rand_chacha::ChaChaRng?"
There is a breaking change from `0.4.x` in `rand` to `0.2.1` in `rand_chacha`, regarding to the replacement of `set_counter` with `set_word_pos` and `set_stream`.

The following tests are performed on `x86_64-unknown-linux-gnu` with CPU `i7-8650U`.

With `rand` `0.4.2`, I am able to have this test passing:
[code]

With `rand_chacha` `0.2.1`, I am able to have this test passing:
[code]

The tests d

[2019-08-29 09:31] dingxiangfei2009 opened #876 "Endianness is inconsistent between `rand` 0.4.0 and `rand` 0.7.0"
Related to #875

During the tests, we discovered inconsistency in endianness when comparing the outputs from `rand` 0.4.0 and `rand` 0.7.0.
As an extension to #875, tests are run to check if `next_u64` is consistent across versions. These tests shows that the byte order of the output has switched.

For instance, on `rand` 0.4.0, running the following code
[code]
gives
[code]

With `rand` `0.7.0`,

[2019-08-29 09:33] aldanor commented on #182
Just to chime in, I’ve been recently working on a qrng crate and I just got a Gray-code based Sobol sequence generator working which is a few times faster than both the GSL one and the SmallRng gen. I’m planning to add a few scrambling options, SIMD support and perhaps a few weaker options like Halton as well. If it would be of any interest, I could post it back here once it’s in and usable state.

[2019-08-29 09:45] newpavlov commented on #876
I _think_ `rand v0.4` had an endianness bug, since #874 now includes a dedicated big-endian CI job and it passes without issues (yes, `rand_chacha` tests include `next_u32` tests). Although since MIPS can use both endians, to be safe we should check if CI job is indeed works correctly, e.g. by testing code like this:
[code]

[2019-08-29 10:35] dhardy commented on #876
I believe we didn't even check endian-correctness back with 0.4, but do now. So I think this is a non-issue?

[2019-08-29 10:37] dhardy commented on #875
Good point. Sounds like this is a [documentation](https://github.com/rust-random/book) issue.

[2019-08-29 10:49] newpavlov commented on #876
@dhardy
Can you check the CI job using the code snippet just to be safe?

Otherwise I think it's also documentation issue, since AFAIK right now we indeed do not make any guarantees regarding reproducibility of results across BE/LE machines.

[2019-08-29 14:13] tarcieri commented on #872
Just to +1 @newpavlov here, while there are a lot of unstable parts of `core::arch::x86`/`x86_64`, SIMD ChaCha20 can be implemented entirely in terms of the stable APIs.

[2019-08-29 14:16] dingxiangfei2009 commented on #876
So `next_*` enforces LE?

[2019-08-29 14:37] dhardy commented on #876
Endianness portability is an implicit guarantee [in the book](https://rust-random.github.io/book/portability.html), though maybe it should be explicit. It's also mentioned [in the RngCore doc](https://rust-random.github.io/rand/rand/trait.RngCore.html). The fact that this differs from 0.4 is probably not mentioned simply because it was never guaranteed before this (it is actually mentioned in the

[2019-08-29 14:47] newpavlov commented on #876
There is also an issue of code like this:
[code]
AFAIK right now we do not specify how PRNGs should behave in such situations. For performance reasons you want align output, i.e. if internally RNG outputs 32-bit integers in the first call it will be more efficient to discard 24 bits than buffering them for future use. But doing so may be counter-intuitive if we view PRNG as a stream of bytes.

[2019-08-29 14:57] dhardy commented on #876
@newpavlov do we need to specify how PRNGs should behave? My view is that we should require PRNGs output given a fixed seed be portable, but go no further. This is IIRC basically what we do now.

[2019-08-29 15:02] newpavlov commented on #876
@dhardy I am not objecting to that, I just argue that we probably should specify somehow in documentation that implementations may skip bytes for performance reasons.

[2019-08-29 15:03] dhardy commented on #876
Read [this doc](https://rust-random.github.io/rand/rand/trait.RngCore.html) then tell me it isn't already there. Seriously, we've covered this topic maybe half a dozen times now.

[2019-08-29 15:04] newpavlov commented on #876
Ah, yes. I forgot about this part:

[2019-08-29 15:07] dhardy commented on #876
Feel free. Our only 64-bit block RNG (Isaac64) actually keeps the next `u32` in this case, though things like `Pcg64` don't.

[2019-08-29 19:08] vks commented on #182
I think the `fill` interface satisfies your requirements, doesn't it?

[2019-08-29 23:29] aldanor commented on #182
You mean `Rng::fill()`? Not really, that's for filling integer-type slices when you can already generate an integer scalar.

In this case, we're talking about slice-type *samples*.

[2019-08-31 08:23] dhardy commented on #182
Are you are talking about some type of correlation within matrix / higher-dimensional tensors or just efficiently filling the data space? I assume the latter, though the same API may work for both.

For generating a fixed-size object like `[f32; 4]` or `(R, S, T)` in one go, `Rng::gen` can already do this (via the `Distribution` trait and impls and `RngCore` source). However, if you want to genera

[2019-08-31 10:34] #867 closed

[2019-08-31 10:34] #741 closed

[2019-09-02 10:40] gilligan opened #878 "Missing tag for rand 0.7.0"
I noticed that there doesn't seem to be a tag or branch for the 0.7.0 release of `rand`. Is that an accidental omission or maybe on purpose for some reason?

I haven't previously interacted with this project before at all so I'm sorry if I am missing something obvious ;)

[2019-09-02 16:34] dhardy commented on #878
If there's not a tag that is a mistake, yes. We don't create branches until necessary (i.e. `master` has diverged and we wish to patch the old version).

[2019-09-03 09:37] gilligan opened #881 "Problems understanding getrandom_package"
Hi, I'm a [Nix](https://nixos.org/nix) user and recently the Rust/Nix tools i'm using  (like [crate2nix](https://github.com/kolloch/crate2nix)) broke because of changes introduced in `rand` - In the end it probably just boils down to missing renaming support and of course this is none of your concern/responsibility.

**However** I would be really grateful if you could help me to understand how you

[2019-09-03 10:45] vks commented on #881
I think the renaming is necessary to have a feature called `getrandom`. Renaming it to `random` would probably be work as well, but the name is less clear.

This is not possible, because [features and dependencies cannot share the same name](https://doc.rust-lang.org/cargo/reference/manifest.html#rules).

[2019-09-03 11:01] gilligan commented on #881
@vks well but @dhardy explains the renaming as a "hack" to introduce a transitive dependency and i'm still confused about that part :thinking:

[2019-09-03 15:48] dhardy commented on #881
It is exactly that, a hack because of the way that Cargo works. I didn't want to rename the "feature" from `getrandom` because that would have been a breaking change — that was already available (previously as an optional package, but from the user's point of view equivalent to a feature) before the `rand_core` crate gained a `getrandom` feature.

My understanding is that you're unhappy because `c

[2019-09-03 15:54] gilligan commented on #881
@dhardy thanks a lot for your clarification. Indeed i was only hoping for a clarification because i need to adjust the tooling. In this case adding support for renaming which wasn’t added initially.

Thanks again!

[2019-09-04 09:43] vks opened #882 "Add a security policy"
We could use GitHub's security tab with the following `SECURITY.md`:

[code]

[2019-09-04 11:18] vks commented on #878
I added the 0.7.0 tag for f3e6c75c68d0bd5330e9e75cf3e6399d546575bf.

[2019-09-04 11:18] #878 closed

[2019-09-04 15:28] dhardy commented on #882
But is it useful?

[2019-09-04 15:32] vks commented on #882
Well, we might want to have an advisory for the undefined behavior that was fixed with Rand 0.7.0.

[2019-09-04 15:35] dhardy commented on #882
True. We did backport (#853) so users should be recommended to upgrade to `rand_core` 0.4.2 or 0.5.0.

[2019-09-04 16:49] vks commented on #882
I opened https://github.com/RustSec/advisory-db/pull/149.

[2019-09-08 00:02] treyfortmuller commented on #881
@gilligan have you found a solution for this problem? I am also a Nix user and have tried building my Rust package (which has this `rand` crate as an optional dependency of a dependency) through `carnix`, `nix-build` (which should just be calling `Cargo` wholesale), and the `mozilla-nixpkgs` overlays. All three approaches fail on the following error:

[code]
@dhardy can you recommend a way to avoi

[2019-09-08 12:50] dhardy commented on #881
Well, I didn't forsee this hack breaking the nix tooling. @gilligan are you proposing to fix the tooling?

Removing this `getrandom_package` rename would also disable the feature forwarding. I guess if we make `std` depend on `rand_core/getrandom` instead then *most* users would be okay, but `no_std` users using `getrandom` (e.g. SGX target) would be affected.

[2019-09-08 12:56] gilligan commented on #881
The good news is that there is ongoing work to fix this already. There is a PR for nixpkgs which will be merged soon: https://github.com/NixOS/nixpkgs/pull/68296

Ultimately i think rand authors shouldn’t have to do anything because renaming per se is of course a valid Cargo feature.

If you take a look at https://github.com/kolloch/crate2nix/issues/22#issuecomment-529172469 you can see how you ca

[2019-09-08 17:28] jsj1027 opened #883 "Complie fails due to impl_as_byte_slice! macro"
Can no longer compile this crate due to some macro not existing in the lib.rs scope.

Error Message

error: cannot find macro `impl_as_byte_slice!` in this scope
   --> /home/kaloshade/.cargo/registry/src/github.com-1ecc6299db9ec823/rand-0.7.0/src/lib.rs:472:1
    |
472 | impl_as_byte_slice!(u16, u32, u64, usize,);
    | ^^^^^^^^^^^^^^^^^^ help: you could try the macro: `impl_proas_byte_slice`

er

[2019-09-08 17:46] danieldk commented on #881
I have also made a PR in crate2nix to make use of NixOS/nixpkgs#68296:

https://github.com/kolloch/crate2nix/pull/24

Any testing would be appreciated ;).

[2019-09-08 17:51] jsj1027 commented on #883
So I vendored the crate with cargo vendor.
Set my cargo sources to the vendored crates
Changed the lines to use the impl_proas_byte_slice macro instead. Attempting to compile gave me the following

Error Message:
error: cannot find macro `impl_proas_byte_slice!` in this scope
   --> /home/kaloshade/Code/RustProj/dnd/vendor/rand/src/lib.rs:472:1
    |
472 | impl_proas_byte_slice!(u16, u32, u64, usi

[2019-09-08 17:57] jsj1027 commented on #883
Removed my target dir, removed all vendored crates, set cargo's source back to crates.io and recompiled.

My issue disappeared, but I have no idea why.

[2019-09-08 18:09] jsj1027 commented on #883
Did some more digging, according to my git status a few dependency crates changed versions and some where added between the last git commit, where the issue was still happening, and now where the issue is no longer happening.

getrandom 0.1.8 => 0.1.12
libc 0.2.60 => 0.2.62
rand_core 0.5.0 => 0.5.1
serde 1.0.99 => 1.0.100
wasi New 0.7.0

I'm guessing cargo did not notice these had to be updated?
I

[2019-09-08 18:25] dhardy commented on #883
I have no idea what this `impl_proas_byte_slice` macro is, whereas `impl_as_byte_slice` is part of `lib.rs`.

Since it's fixed for you and my best guess is that this is some weird glitch, I suggest we don't spend any more time worrying about it now.

[2019-09-08 18:25] #883 closed

[2019-09-11 14:15] dhardy commented on #573
This test was moved to the getrandom repo and is now enabled.

[2019-09-11 14:15] #573 closed

[2019-09-11 14:31] dhardy opened #885 "Organisation: new repo for extra rngs"
Suggested in #861, we create a new repo, `extra_rngs`. We move most RNG crates there (ISAAC, Xoshiro, HC, Jitter, OS (but probably we just remove this), Xorshift), keeping only the crates which are direct dependencies of Rand here.

Creating this issue to facilitate discussion, though I don't foresee any objections.

[2019-09-13 07:55] dhardy commented on #586
I believe this is now covered [by the portability section](https://rust-random.github.io/book/portability.html) in the book, albeit implicitly — these functions should be portable and deterministic.

Also FYI we currently have no plans to adjust these algorithms, so there's a good change they will remain stable post 1.0.

[2019-09-13 07:55] #586 closed

[2019-09-13 07:58] dhardy commented on #472
Our use of `#[inline]` has changed a little since this was open, and is probably okay now (if not, I leave it up to whoever notices to open an issue/PR).

[2019-09-13 07:58] #472 closed

[2019-09-13 08:36] dhardy commented on #299
We shouldn't forget about Randen as a possible alternative to ChaCha; it is fast, fairly simple code and has backtracking resistance. Right now I see two issues:

1.  **Limited portability:** it relies on a CPU-native AES instruction for performance, thus we should keep an alternative available for some platforms (like we do with HC-128 now).
2.  **Trust:** while [the code](https://github.com/goog

[2019-09-13 08:55] dhardy commented on #305
IMO it makes little sense to further investigate this before [Specialization](https://github.com/rust-lang/rust/issues/31844) is available. Of course by then we will probably have hit 1.0 and not want major changes (though we don't really want them now either: we have been accused of excessive API churn multiple times.

Therefore, and since this has seen little interest in over a year, I think it

[2019-09-13 09:17] dhardy opened #886 "Stop forwarding getrandom's wasm features"
For rand 0.8, I suggest we stop forwarding these features in `rand`. Since this is currently the only reason we depend on the `getrandom` crate directly, this allows us to remove the `getrandom_package` rename hack, thus also clearing up #881.

This means that WASM users (who are using `wasm32-unknown-unknown` instead of the newer `wasm32-wasi` target) will need to depend on `getrandom` directly (

[2019-09-13 11:40] dhardy commented on #849
I don't understand this problem. I get a similar issue when building docs locally with a *stable* compiler, *except that the build also fails on `packed_simd`*. When building locally with a *nightly* compiler, which is what this CI builder should be doing, I get no issues.

[2019-09-13 13:01] newpavlov commented on #886
Meanwhile you can add a comment to `Cargo.toml` with a recommendation not to use this feature and instead enable it directly for `getrandom`.

Also maybe add a milestone for v0.8 so it will be easier to track such breaking changes?

[2019-09-13 13:05] newpavlov commented on #885
I think you can simply name it `rngs` without the "extra" part. BTW maybe it's worth to remove the `small_rngs` repo?

[2019-09-13 15:12] dhardy commented on #820
Is this still an issue? Since you haven't replied in a while I'll close, but if it is I can re-open it.

[2019-09-13 15:12] #820 closed

[2019-09-13 15:13] dhardy commented on #876
I believe we can close this? If there are outstanding issues I'll re-open.

[2019-09-13 15:13] #876 closed

[2019-09-13 15:14] #862 closed

[2019-09-13 15:14] dhardy commented on #817
@mark-i-m would you like to re-test with rand 0.7.1? I believe this should have solved the `no_std` issues.

[2019-09-14 08:22] dhardy commented on #849
Oh, GitHub helpfully closed this for me. It's still an issue.

[2019-09-14 08:29] dhardy commented on #885
I suppose we can go with the `rngs` name, though direct dependencies (`rand_chacha` and `rand_pcg`) will be staying in this repo, so it may be confusing?

I don't think there's much point deleting `small_rngs`; it's already archived.

[2019-09-14 08:48] dhardy commented on #804
I believe this issue is solved in `getrandom` and in `rand` 0.7.x.

If this is not the case, or if you would like to see a back-port to 0.6.x, please comment (or, in the latter case, preferably open a PR).

[2019-09-14 08:48] #804 closed

[2019-09-14 08:50] dhardy commented on #882
@tarcieri perhaps you have an opinion on whether this is useful enough to justify yet-another-piece-of-documentation?

The only explicit information it adds is a list of which versions will receive security updates — yet (a) this doesn't rule out backports (e.g. #853) and (b) this doesn't even attempt to answer the question of when a potential security issue is worth addressing (e.g. #699 prompted

[2019-09-14 09:51] dhardy commented on #837
This issue has stagnated, yet resolving it (one way or another) is an important step towards stabilisation, thus it deserves some priority.

In doing so, we should if possible **minimise disruption**.

## Option: add RngCore::Error assoc. type

**No:** this is very disruptive since `RngCore` is no longer a concrete type, thus users must replace mentions with e.g. `RngCore<Error = rand::Error>`.

#

[2019-09-14 18:48] mark-i-m commented on #817
Hmm... I am getting the following with `0.7.1`

[code]

I've never seen this error before. Some googling suggests that this is related to the target. My target file is:

[code]

[2019-09-14 23:20] burdges commented on #837
Are we sure feature gated fields in structs really always work?  I suppose features always being additive makes them work correctly, yes?  It sounds okay then.

Are there any Rust WGs that address no_std issues?  If so, could this become their problem?  I think a WG with wider involvement could do things beyond individual projects, like statically sized manual trait objects, ala
[code]
It's true r

[2019-09-15 08:12] dhardy commented on #837
[Like this](https://github.com/rust-random/rand/blob/master/rand_core/src/error.rs#L21)? We've been using feature-gated fields for a *long* time already.

You mean some type of pre-allocated fixed-size `Box` able to store a dynamic object without an allocator? At this point anything dependent on language extensions is not a viable proposal in my opinion — language RFCs often take multiple years (t

[2019-09-15 08:38] dhardy commented on #805
This is [documented here](https://rust-random.github.io/book/portability.html#portability-of-usize). I guess we can close this issue now.

[2019-09-15 08:38] #805 closed

[2019-09-15 17:40] newpavlov commented on #837
I would prefer to not change anything in public API. Firstly, the current approach may be extended in a backwards compatible manner if we'll get distributed slices one day (well, at the cost of bumping MSRV). Secondly, I think `no_std` programmers will not care about text descriptions of RNG errors, so probably public API complications will not pull their weight here. Also RNG implementations can

[2019-09-15 18:42] burdges commented on #837
There are tricks like the one I wrote that do not require language extension pr se, but do require some wider consensus.

I'm *not* suggesting to wait for some WG, but doing something simple now, with a message or two to the relevant WG so that maybe they get interested.

[2019-09-15 18:50] dhardy commented on #837
Lots of good reasoning @newpavlov, though I'd prefer we can find an outcome that everyone (including @nagisa) are happy with. Of course that may not be possible.

@burdges your tricks don't achieve much. Type-erasing a reference is easy; storing a type-erased object without a dynamically-sized `Box` is not. Of course an implementation could store its error in static memory and return a reference,

[2019-09-16 09:33] dhardy commented on #737
Hmm, these warnings don't show up any more. #849 tracks broken links, which seems to be a manifestation of this.

Note that `cargo doc` does warn about `rngs::SmallRng` being unresolved; run with `--all-features` to fix this (as our CI does).

[2019-09-16 09:33] #737 closed

[2019-09-16 09:41] dhardy opened #889 "Tracker: 0.8 release"
To resolve:

- [x] reduce ChaCha crate dependencies #872
- [x] `rand_core::Error` type and `no_std` diagnostics #837
- [x] Value stability: #786
- [x] `gen_range` and ranges: #744, #821 and #1003
- [x] Update to `getrandom` v0.2 (if released)
- [x] Fix `StdRng` performance #1017
- [x] Consider to deprecate `SmallRng` or use a better algorithm (see #910)
- [x] Use-after-free using ThreadRng from a

[2019-09-16 16:22] joshsleeper opened #890 "rand 0.7.1 failing to compile with unresolved rand_core::OsRng import"
# Common issues

**Problem**: rand 0.7.1 is failing to compile with the following error:

[code]

**Quick solutions**:
- run `cargo update`
OR
- run `cargo update --package rand_core` to force just `rand_core` to update

**Details**: A quick look and test makes me think (if I'm reading `Cargo.toml` correctly) this might be due to `rand 0.7.1` requiring changes from `rand_core 0.5.1`, but only tech

[2019-09-16 18:12] benesch commented on #890
Also just ran into it, and I agree with @joshsleeper's assessment. Dependabot compatibility for the release is only 33%: https://dependabot.com/compatibility-score/?dependency-name=rand&package-manager=cargo&previous-version=0.7.0&new-version=0.7.1.

[2019-09-16 19:36] dhardy commented on #890
Aha. Thanks for the report; sounds like we should fix this asap!

[2019-09-16 19:47] dhardy commented on #890
I've pushed the version bump into #888. Since this only adds tests, it should be fine adding this into the release.

[2019-09-17 08:43] #890 closed

[2019-09-17 21:04] BaoshanPang opened #892 "the trait `std::error::Error` is not implemented for `getrandom::error::Error`"
I am seeing this issue when building rust libstd unit test:

error[E0277]: the trait bound `getrandom::error::Error: std::error::Error` is not satisfied
   --> /folk/prj-rust-dev/bpang/ala-diab-pb19l/fix_bugs/latest/.cargo/git/checkouts/rand-cc8f5b7ec2d3b6d9/64a4000/rand_core/src/er\
ror.rs:150:28
    |
150 |             Error { inner: Box::new(error) }
    |                            ^^^^^^^^^^^

[2019-09-18 02:23] BaoshanPang commented on #892
Sorry, the problem is in the getrandom crate used by me.

[2019-09-18 02:23] #892 closed

[2019-09-18 08:25] dhardy commented on #892
Sounds like you didn't enable `getrandom`'s `std` feature maybe?

[2019-09-18 13:12] shepmaster opened #893 "Consider documenting why versions have been yanked"
## Background

**What is your motivation?**

I want to know if I need to be worried about continuing to use a yanked version of a crate or not

## Feature request

Idea 1:

Create an issue that states that a version has been yanked, why it was yanked, then close the issue. I hope this wouldn't be much more overhead.

Idea 2:

Mark that a version was yanked and why in the appropriate CHANGELOG.

[2019-09-18 13:17] vks commented on #893
I think usually we yank versions that broke semver.

[2019-09-18 18:04] tarcieri commented on #882
I think it's useful, particularly documenting the "bar" for a `CryptoRng`. FWIW, we rejected https://github.com/RustSec/advisory-db/pull/149 as unexploitable.

[2019-09-18 20:35] dhardy commented on #893
In this case, 0.7.1 was yanked because it depended on `rand_core` 0.5.0 while using features from 0.5.1, thus breaking for many users on upgrade (#890).

Regarding the general call to document why a version was yanked, you have a good point. We should add a policy to document yanking in the changelog where possible.

How effective would your proposed open/close issue idea be? I suppose anyone look

[2019-09-18 20:38] dhardy commented on #893
Aha, I guess the reason our minimal-versions CI test did not pick up the issue with 0.7.1 is that it uses a path dependency to `rand_core`, thus always uses the version in the repo, not the published version. In contrast I believe Cargo does a build test before publishing, but does not use minimal versions.

[2019-09-18 20:44] shepmaster commented on #893
*I* wouldn't follow such a process for my crates; the junk issues would annoy me. I merely provided it as a possibility. I started by [searching the issue tracker](https://github.com/rust-random/rand/issues?q=is%3Aissue+yank+is%3Aclosed+sort%3Aupdated-desc) and finding older things that mention yanking without ever explicitly saying a yank will/did happen.

I then skimmed the changelog, looking fo

[2019-09-19 10:19] dhardy commented on #885
I got this started: https://github.com/rust-random/rngs/pull/1

Note: `rand_hc` is still a dependency of `rand`.

[2019-09-19 10:23] dhardy commented on #890
Note: rand 0.7.1 has been yanked because of this bug which presents a significant trip hazard when updating `rand` without also updating `rand_core`.

[2019-09-20 20:11] #875 closed

[2019-09-25 04:20] kentfredric opened #896 "Benchmarks not buildable on stable"
See also: https://github.com/rust-lang/rust/issues/21784

[code]

[2019-09-25 07:55] dhardy commented on #896
They never were. Does Rust support benchmarks on stable yet?

[2019-09-25 07:59] dhardy commented on #885
Done (see #895)

[2019-09-25 08:00] #885 closed

[2019-09-25 09:17] vks commented on #896
No, but there are (slightly more clunky to use) libraries that work on stable. `bencher` is a port of libtest, `criterion` has more advanced statistics / reports / comparisons but also more dependencies. I suggest to use

[2019-09-25 10:00] dhardy commented on #896
Switching the benchmark lib is an option but I see little benefit. In my opinion sticking with the status quo is not an issue (though I presume @kentfredric disagrees).

I'll leave this open for a week or so for further input but if nothing happens it will be closed.

[2019-09-25 11:52] kentfredric commented on #896
Part of this bug is acknowledging its not your fault, just a circumstance you've found yourself in due to design decision in rust ( hence the x-ref ).

I'm working on linux-vendoring for Rust stuff, and on the list of "nice to have"'s is:
- Tests runnable with the system (stable) rust
- Examples buildable/runnable with system (stable) rust
- Benchmarks buildable/runnable with system(stable) rust.

[2019-09-25 12:40] dhardy commented on #896
Well, you linked the wrong Rust bug; that one complains about ergonomics. See [here](https://github.com/rust-lang/rust/issues/59775) and the linked internals post. Summary is that work is still on-going in this area; i.e. support for a benchmarking on stable with the standard libraries is planned but not there yet.

In the mean-time, I don't have anything much against switching to `criterion` or `

[2019-09-25 12:51] kentfredric commented on #896
Fair enough, glad to see there's more progress headed in that direction then :) ( gosh finding the right bug is hard :( )

I suspect the ideal approach is to wait for that internals work to finish, and then revisit this situation (ie: perform much fewer changes to use the stabilized feature)

[2019-09-27 14:27] #893 closed

[2019-09-27 14:27] #882 closed

[2019-09-27 15:31] shepmaster commented on #893
Thanks!

[2019-09-27 15:34] dhardy commented on #881
Your PR is merged so I assume this has been sorted now.

[2019-09-27 15:34] #881 closed

[2019-09-27 15:43] dhardy commented on #817
Is this issue still about large structs on the stack or is it about debugging your build? I tried reproducing but got the following, similar to your previous error.
[code]

However, I don't believe this has anything to do with the `rand` project so will now close this. I guess we can re-open if you can reproduce your original issue using the latest `rand` version.

[2019-09-27 15:43] #817 closed

[2019-09-27 16:43] mark-i-m commented on #817
@dhardy yeah sorry about that. I suspect that it is probably fixed but i don't have a good way to check. Thanks for your help!

[2019-09-27 21:44] burdges commented on #817
It's an open rustc issue since 2014, not fixed yet.  According to https://github.com/rust-lang/rust/issues/32966 you should understand and try to improve upon https://github.com/rust-lang/rust/pull/47954 if you really want this sooner rather than later.  Yes, this issue should be closed in favor of those.

[2019-09-30 15:13] dhardy commented on #699
FYI, it looks like Linux 5.4 will include a jitter-based entropy collector as a fall-back. Better there (highly peer-reviewed, kernel code) than here I guess.

[2019-10-04 07:20] dhardy commented on #872
`BlockRng` is the basis for minimal overhead in `ReseedingRng` and fork protection. If you propose removing that from `rand_core`, please also propose how reseeding should be implemented.

[2019-10-04 07:33] dhardy commented on #786
Looks like the `seq` code also needs tests

[2019-10-10 16:19] bjorn3 commented on #872
The c2-chacha crate hasn't been updated for 2 months and has two PRs for 2 cq 5 months. It also doesnt work without at least SSE2 when the simd feature is enabled. (enabled by default) https://github.com/cryptocorrosion/cryptocorrosion/issues/25

[2019-10-10 16:37] tarcieri commented on #872
I'd be happy to look into adding SIMD support which "just works" and isn't gated on a feature to the [`chacha20` crate](https://crates.io/crates/chacha20), or if anyone else would like to contribute it, I can review / merge PRs and release it.

It's definitely on my list of things to do (as part of starting to use the [`chacha20poly1305` crate](https://crates.io/crates/chacha20poly1305) in earnest

[2019-10-10 19:09] dhardy commented on #872
That would be brilliant @tarcieri.

In the mean-time it does appear that @kazcw and the whole cryptocorrosion project has gone silent, but I am not aware of any significant issues other than the build issue with Cranelift mentioned by @bjorn3 (hopefully something you can work around for now?), thus I suggest we wait for the SIMD work on `chacha20`. If necessary we can switch the implementation, th

[2019-10-10 19:30] bjorn3 commented on #872
Patching c2-chacha works.

[2019-10-11 12:53] dodomorandi opened #898 "Should `rand_distr` depend on `rand` without features?"
I noticed that when using `rand_distr` and `rand` without features, `lazy_static` is used as dependency in `c2-chacha` when it should not.

The fact is that `rand_distr` has the following dependency:
[code]
but, if I am correct, it should have
[code]

[2019-10-11 14:10] dhardy commented on #898
Interesting point. Currently `rand_distr` does not support `no_std` for the simple reason that (almost?) none of its functionality would be available without it, since the code makes heavy use functions only available in `std` (log, exp and some trig functions, all provided via `libm` or equivalent).

Therefore, it seems sensible that `rand_distr` imply that `rand` should *also* use `std` features

[2019-10-11 17:47] dodomorandi commented on #898
I think you are absolutely right: only digging a bit into the code I noticed that only the distributions that need `std` have been put into `rand_distr` (I noticed from 0.6 code that all of these distributions where under `std` feature `cfg`).

I am going to perform some checks, but I will probably end up closing the issue soon. Thank you :+1:

[2019-10-11 18:11] vks commented on #898
In the future, we may look into supporting `no_std` for `rand_distr` using [`libm`](https://github.com/rust-lang/libm).

[2019-10-13 14:34] #898 closed

[2019-10-15 05:20] burdges commented on #837
I'm afraid cargo feature passing has proven bug prone, which makes code like https://github.com/AltSysrq/proptest/pull/170 annoying.

We might consider methods that either move the crate feature test into rand_core, like exposing `ErrorCode, or maybe
[code]
We should probably ignore this for now in the hopes that some relevant WG blesses some scheme, but I wanted to mention it.

[2019-10-15 08:09] dhardy commented on #837
We got into problems doing that kind of thing before: someone adds the `std` flag, and now your error must support `std::error::Error`, except the appropriate flag didn't get activated in *your* crate, so you get a build error (#738).

[2019-10-15 17:01] burdges commented on #837
Are you saying that you prefer the https://github.com/AltSysrq/proptest/pull/170 approach so that any desyncronization of the std flag causes build failures because the build should fail whenever that happens?  I do not disagree, but..

If you wanted builds not to detect the std flag missmatch, then you'd want to minimize the std check appearing in other crates, no?  I'd think this requires either

[2019-10-16 08:07] dhardy commented on #837
`rand_core::Error` already [supports `From<NonZeroU32>`](https://github.com/rust-random/rand/blob/master/rand_core/src/error.rs#L133) and [`fn code(&self) -> Option<NonZeroU32>`](https://github.com/rust-random/rand/blob/master/rand_core/src/error.rs#L95) regardless of `std` mode. Is this what you want?

[2019-10-18 14:57] BaxterEaves opened #899 "Add unchecked distribution constructors"
## Background

I use rand for for Monte Carlo and other statistical applications and I find myself constructing a lot of rand distributions. Since the distribution parameters are used in other parts of my code (computing likelihoods) I validate the parameters elsewhere and know that they will always be valid when constructing the rand distribution. Extra validation and error handling with rand is

[2019-10-18 15:18] vks commented on #899
Is this a performance problem for you? If you validate the parameters elsewhere and the `Normal::new` gets inlined, the compiler should be able to optimize away the checks.

[2019-10-20 03:34] tarcieri commented on #872
We just landed SSE support in the `chacha20` crate, resulting in a ~25% performance improvement (I measure it as going from 6.7 cycles/byte to 5.3) and I plan on cutting another release in the next day or so:

https://github.com/RustCrypto/stream-ciphers/pull/61

We'll hopefully be adding an AVX2 backend soon as well.

[2019-10-20 11:21] dhardy commented on #872
I did a [little](https://github.com/RustCrypto/stream-ciphers/pull/63) [hacking](https://github.com/dhardy/rand/commit/3818d088adfa82ce58a0241a77deb643d20ade23), for testing purposes.

This lets me run comparative benchmarks (`std` and `thread` are using the `chacha20` crate; `chacha` benches are using `c2-chacha` via `rand_chacha`):
[code]
As you can see, there's a long way to go to catch up. One

[2019-10-20 16:35] tarcieri commented on #872
Thanks for looking into it. We can probably reverse the relationship between the `chacha20` crate and the `salsa20-core` crate, so the latter isn't needed when the construction isn't using the traits from the `stream-cipher` crate.

We've also talked about operating on several blocks in parallel as part of adding an AVX2 backend.

[2019-10-21 14:21] tarcieri commented on #872
Yup, we can potentially have both `salsa20-core` (and vicariously `stream-cipher`) as well as `rand_core` as optional dependencies

[2019-10-21 15:04] tarcieri commented on #872
Also re: the reduced round variants e.g. ChaCha8/ChaCha12, yes, we can potentially add those, probably gated under an off-by-default Cargo feature.

[2019-10-21 19:17] kazcw commented on #872
I eliminated the lazy_static dependency:

    rand_chacha v0.2.1
    ├── c2-chacha v0.2.3
    │   └── ppv-lite86 v0.2.6
    └── rand_core v0.5.1

[2019-10-21 19:19] kazcw commented on #872
The API surface coupling `c2-chacha` to `ppv-lite86` dwarfs that coupling `rand_chacha` to `c2-chacha` (a SIMD library vs a hash function), so moving it between workspaces would lead to maintenance headaches. If package count is more important than logic-abiding modularity, I see a couple things we could do: I could move the core implementation from `c2-chacha` into `ppv-lite86` ("have some chacha

[2019-10-21 19:37] kazcw commented on #872
IMO the more reasonable of those two dependency eliminations (if we were to stop at one) would be splaying the `rand`/`rand_chacha` dependency--it would be a quirk for rand maintainers that the `rand_chacha` code actually lives in `rand`, but forcing `rand` on `rand_chacha` seems like it subverts the crate concept less than forcing `chacha` on `ppv-lite86` users.

[2019-10-22 08:15] vks commented on #872
I think this is good enough! If anything, we could get rid of `rand_chacha` and add `rand_core` support to `c2-chacha` behind a feature flag.

[2019-10-22 08:46] dhardy commented on #872
Thanks @kazcw for taking another look at this and removing the `lazy_static` dependency.

We have in the past duplicated the `OsRng` code to avoid a dependency, and have at least discussed reversing dependencies (`rand_chacha` depending on `rand`), but neither is desirable.

I agree; actually this is less about "Cargo is broken" than "people's metrics of complexity are broken".

At this point my p

[2019-10-22 13:50] BaxterEaves commented on #899
I wouldn't exactly call it a problem because the rand_distr constructors seem to be generally faster than the rand::distributions constructors regardless of input validation. But, in my code, the input parameters to the distributions change constantly due to random walk, so I doubt there is much optimization that could be done by the compiler.

[2019-10-22 14:29] dhardy commented on #899
You can try benchmarking with a hacked copy of `rand_distr` if you like, but I doubt the few extra checks in the constructors will make much difference. In the absence of evidence of benefit, I don't think additional constructors are worth adding.

[2019-10-26 23:24] sfackler opened #902 "StdRng docs refer to non-existent stdrng_* Cargo features"
https://docs.rs/rand/0.7.2/rand/rngs/struct.StdRng.html

Those features don't seem to exist, though.

[2019-10-28 08:25] dhardy commented on #902
No, I proposed them but the idea got rejected, partly because additive feature flags don't correlate well with configuration items, and partly because letting end users make security-performance trade-offs may not be the best idea. See #792.

Somehow the notes in the README got through though!

[2019-10-28 15:53] nliberg opened #903 "Improve shuffle function documentation"
In order for all shufflings to be possible "the number of states of the PRNG should exceed the number of permutations by at least several orders of magnitude" [(Wikipedia source)](https://en.wikipedia.org/wiki/Fisher%E2%80%93Yates_shuffle#Pseudorandom_generators). I.e. for a slice consisting of n elements the PRNG state bits should ideally exceed log<sub>2</sub>(_n_!). Perhaps it could be helpful

[2019-10-28 16:00] vks commented on #903
I'm not sure how relevant it is to make all permutations possible. In practice, it would be very hard to show that some permutations are not possible, it would basically require iterating all possible states of the RNG, which is not really feasible for 128 bits of state or more.

[2019-10-28 16:43] nliberg commented on #903
I was thinking more of RNGs with few enough bits to make the states possible to enumerate.
Feel free to close this if this seems like a non-issue in practice.

[2019-10-28 17:01] vks commented on #903
The default RNG within Rand has 1088 bits of state. Even `SmallRng` (which is behind a feature flag) has at least 64 bits of state. For an RNG with 32 bits of state, enumerating all states is easy, but I don't think this is a concern for the RNGs provided by Rand. RNGs with only 32 bits of state should not be used unless you know what you are doing, in which case I'm not sure how useful a warning

[2019-10-29 09:25] dhardy commented on #903
This is the real concern: if your RNG has a short enough cycle that you can loop through all values, then it is possible to observe non-random behaviour (i.e. correlations between one part of a sequence and another). Note that `n` bits of state guarantees *no more than* `2^n` steps in that cycle, the reverse is not true (some RNGs are *chaotic* and have sequences with very short cycles; some other

[2019-10-29 09:25] #903 closed

[2019-10-29 10:06] vks commented on #903
I was looking at the [Rand book](https://rust-random.github.io/book/guide-rngs.html#basic-pseudo-random-number-generators-prngs), where it is claimed that `SmallRng` has a period of at least 2^64. Is that inaccurate?

[2019-10-29 11:59] dhardy commented on #903
That is accurate. Nevertheless, the state is 128 bits (more accurately, 127 bits since 1 is discarded). This influences the sequence, reducing the chance of two randomly seeded instances producing the same sequence.

[2019-10-29 12:52] dhardy commented on #301
@tarcieri can I get your opinion on this? Realistically the only reason I can see it being useful is if a bug reduces the entropy source's quality (e.g. [AMD's RDRAND failure on resume-from-standby](https://github.com/rust-random/getrandom/pull/43)). Note that we already catch failures here and do catch this particular bug; this change would only help with bugs we haven't caught.

Of course if the

[2019-10-29 12:55] dhardy commented on #313
In fact, lets close this *until* there is demand; otherwise this appears to be a solution in search of a problem.

[2019-10-29 12:55] #313 closed

[2019-10-29 12:58] dhardy commented on #450
This is [now the case](https://rust-random.github.io/book/guide-rngs.html) (rough numbers only, but still about the best one can expect short of a whole benchmark suite like `cargo bench`).

[2019-10-29 12:58] #450 closed

[2019-10-30 01:52] tarcieri commented on #301
Reseeding, done correctly, is at least as secure as the most secure of the inputs. That said I'd need to see code to know if the desired solution is secure.

[2019-10-30 09:28] dhardy commented on #301
Is the pseudo-code in the first post clear enough?

[2019-11-05 02:05] #899 closed

[2019-11-06 12:48] dhardy commented on #357
@vks could I interest you (or potentially someone else) in adding at utility to `rand_distr` (perhaps an example) which plots histograms of each distribution from actual samples (not PDFs)? This would at least let us eye-ball that distributions are doing roughly the right thing.

[2019-11-06 12:52] dhardy commented on #837
This has stagnated for a long time now, so I am closing with **no change** (see @newpavlov's last comment, which I agreed to).

[2019-11-06 12:52] #837 closed

[2019-11-06 13:11] vks commented on #357
I was thinking about using [sparklines](https://github.com/reugn/rspark) for that. I'm interested, but I can't make promises that I'll get to it before the end of the year.

[2019-11-08 06:55] vigna opened #905 "PCG 128-bit generators are easy to predict"
I just stumbled into the documentation for the package, which scores PCG64 (the 128-bit version) as "difficult to predict". This has always been an unsubstantiated, but also not refuted claim. You can now find here a simple C++ program predicting easily the output of a PCG64 generator from its output:

http://prng.di.unimi.it/pcg.php#claims

(BTW, thanks for implementing `xoshiro256**`. It turned

[2019-11-08 10:13] dhardy commented on #905
Hello,

I agree that "difficult to predict" claims are often unsubstantiated when perhaps they should be. My appologies may be due here — I missed that you have broken PCG64 — is this a recent? I will take a closer look.

About the latter point: see https://github.com/rust-random/rngs/issues/3

[2019-11-08 10:17] vigna commented on #905
Oh, like, yesterday 😂. No apologies needed.

[2019-11-08 11:57] vks commented on #905
To clarify, we make claims about predictability in the [Rand book](https://rust-random.github.io/book/guide-rngs.html):

PCG XSL 128/64 (LCG) is the only RNG rated with four stars, claiming it is non-trivial to predict. I don't think this is the same as claiming it is difficult to predict, but I agree that this statement should be removed, because I don't think it is a useful criterion of quality.

[2019-11-08 12:18] vigna commented on #905
Admittedly I missed the fine print 🙄. Yet, most users will probably do the same.

"Non-trivial" is not a formal concept, so you decide what it means. In my mind it is "computationally nontrivial", which means it would take, say, years to derive the current state from the observed output.

[2019-11-08 12:31] dhardy commented on #905
I guess that's an option. Inventing useful ratings is hard, especially ones based on provable properties.

This is again something hard to prove, outside of cryptographic RNGs. Perhaps we should just avoid the term. Getting this stuff right is hard.

[2019-11-08 14:10] vigna commented on #905
I totally feel you—it's a mess (BTW, if you're interested in comments on the book let me know, it's very well written but still I might have useful suggestions). It's really hard.

Personally, I don't believe in the "middle ground" of "difficult-to-predict-but-not-crypto": usually it just means it is so easy to break that nobody tries. I mean, I can claim that `xoshiro256++` is "difficult to predi

[2019-11-08 17:37] dhardy commented on #905
@vigna I just tried your example, and the results do appear quite different to me (third column is `x ^ y`):
[code]
Perhaps you meant to adjust one bit in the second key instead? In that case, it appears that for every 16th sample, `x==y`, which is more significant. Nevertheless, I believe if one generates a set of RNGs where each key is sampled randomly from a strong/different RNG (e.g. ChaCha8)

[2019-11-08 17:58] vks commented on #905
XOR does not help, because the bit sequences are shifted. Looking at the last values:
[code]

Note that both strings are almost identical if you shift them:
[code]

[2019-11-08 18:25] vigna commented on #905
Yes, it's just a matter of bit patterns:

     88c44e956e06610b 7e06610b88c44e95

These two outputs (the first line) are essentially the same. Just rotated a bit. Of course they are statistically strongly dependent, even after 10 million iterations. This is not going to change, no matter how you iterate, because the state change will never propagate to the right.

This is an extreme example (same

[2019-11-08 18:27] vigna commented on #905
@dhardy How can I write you in private (for the book)? Or do you prefer an issue?

[2019-11-08 18:36] dhardy commented on #905
We usually use public issues; you can do so on the book repository directly. Or is there some reason you'd prefer private communication? If so try 'hello' @ my domain (see commits).

[2019-11-08 18:52] vigna commented on #905
The book repository is fine. Can you point me at it?

[2019-11-08 18:56] bjorn3 commented on #905
https://github.com/rust-random/book

![image](https://user-images.githubusercontent.com/17426603/68502882-cf3a2900-0261-11ea-811d-f1e7ccfb6344.png)

[2019-11-14 01:02] vigna opened #907 "Document dependency between streams in PCG64"
The documentation of the PCG generators with a "stream" parameter does not state explicit that different streams generate independent sequences, but the existence of a parameter named "stream" implies somehow the idea.

The user should be made aware that the stream parameter is almost useless from a mathematical and statistical viewpoint.

Changing constant (stream) to an LCG with power-of-two mod

[2019-11-14 13:13] dhardy commented on #907
Good points; I made some changes to the book in this regard but the API documentation warrants review too.

A secondary point is that on 32-bit platforms we currently use PCG32 with streams in `SmallRng` [source](https://github.com/rust-random/rand/blob/master/src/rngs/small.rs), which isn't ideal. (However, we recommend `StdRng` or `thread_rng` for most usage, both of which use cryptographic gene

[2019-11-14 15:11] vigna commented on #907
That's dangerous. There's a reason why nobody in the last decades ever considered (OK, except Melissa O'Neill) creating "streams" using the constant part of an LCG, and it's that people realized very early that it doesn't work (see, e.g., https://ieeexplore.ieee.org/document/718715).

[2019-11-16 09:44] burdges opened #908 "rand::distributions::Distribution::sample using &mut"
I suppose [`rand::distributions::Distribution::sample`](https://docs.rs/rand/0.7.2/rand/distributions/trait.Distribution.html#tymethod.sample) takes a `&mut R` instead of an `R` because otherwise the errors get confusing?

[2019-11-17 10:27] dhardy commented on #908
See [this post](https://github.com/rust-random/rand/pull/758#issuecomment-484047399).

[2019-11-17 11:16] #908 closed

[2019-11-17 11:21] burdges commented on #908
Thanks!  I suppose monomorphization creates another issue if you wind up with separate entry points for each `&mut &mut .. &mut R`.

I've no idea if Rust can optimize those away, but if not then maybe idiomatic usage should really by `BorrowMut<R>` whenever you might want both `R` and `&mut R`.

[2019-11-19 12:49] vks commented on #907
I wonder about the best way to fix this. Maybe remove the stream parameter in a breaking release? (Deprecating is tricky, because we would have to deprecate `{Lcg128Xsl64, Lcg64Xsh32}::new`, and we likely want to change `from_seed` too, which is a breaking change in any case.) Unfortunately, this would make the seed of `Lcg64Xsh32` only 64 bits, which is a bit too small.

[2019-11-19 13:15] dhardy opened #910 "Investigate replacements for SmallRng algorithm"
Due to [close correlations of PCG streams](https://github.com/rust-random/rand/issues/907) and [lack of right-state propegation](https://github.com/rust-random/rand/issues/905#issuecomment-551841670) we should consider replacing PCG with another algorithm(s) for the next Rand version (0.8).

From the [docs](https://rust-random.github.io/rand/rand/rngs/struct.SmallRng.html), the purpose of `SmallRn

[2019-11-19 13:15] dhardy commented on #907
@vks I don't see any point hacking PCG to "fix" this. Sure, PCG has single-stream variants, but since one of the biggest reasons to use non-crypto RNGs is to allow multiple generators without hitting memory usage/bandwidth/cache too hard, a 64-bit generator without streams is not so useful. I'm also a bit concerned about [this limitation](https://github.com/rust-random/rand/issues/905#issuecomment

[2019-11-19 14:35] vigna commented on #910
Do you need multiple streams? Constant-time jumps for parallel execution? Are 64-bit operations fine or would you prefer 32-bit operations?

[2019-11-19 14:38] dhardy commented on #910
We expect the key size (seed + stream) to be at least 100 bits. We require an algorithm for 32-bit CPUs and for 64-bit CPUs (currently we have a different RNG for each; they could also be the same).

For parallel usage we generally recommend seeding each PRNG independently from a strong master (CSPRNG or system source) instead of using jumps.

[2019-11-19 14:57] vks commented on #910
Does this affect the current implementation of `SeedableRng::seed_from_u64`?

[2019-11-19 15:15] vigna commented on #910
For these two cases, on my page I suggest xoroshiro128++ or xoshiro128++. The second generator is 32-bit though, so you'll need to call it twice for a 64-bit integer or a double.

Note that in general generators writing to multiple locations (like those above) might perform better in artificial benchmarks (e.g., loops) than generators with a stream parameter, but in real life the cost of storing *

[2019-11-19 15:43] dhardy commented on #910
I don't believe so. In this case we care more about reproducibility and less about supporting many independent instances (the function only accepts 64-bit key, and uses a fixed stream).

I did some quick benchmarks of our existing Rust PRNGs below. These are not fully representative (only one CPU arch, may be a little imprecise), but show roughly how our current code performs.

[code]

[2019-11-19 16:32] vks commented on #910
It's nice to see that chacha8 is faster than steprng thanks to vectorization!

This looks like xoshiro128++ and xoshiro256++ are good choices for i686 and x86_64, respectively.

[2019-11-19 16:39] dhardy commented on #910
Not on i686. I guess this has more to do with which CPU features can be assumed than the word size.

[2019-11-19 16:48] dhardy commented on #910
Some results are improved a little when using `RUSTFLAGS="-C target-cpu=native"`. Whether we should care about this is questionable. I posted some results using this (x86_64) [here](https://gist.github.com/dhardy/e8379a1d87221b0b7b03845e58afde2c).

[2019-11-19 16:52] vks commented on #910
Yes, this is expected, because `x86_64` implies SSE2, but `i686` doesn't.

[2019-11-19 17:23] vigna commented on #910
Are you keeping the compiler from unrolling loops? My experience, in particular with clang, is that the compiler will unroll different code a different number of times, strongly biasing the results. That might not be the case here, but it doesn't hurt.

The other parameter that might influence heavily the result is whether you let the compiler extract loop invariants. In that case, anything using

[2019-11-20 11:02] dhardy commented on #910
Most of the results (the MB/s value) are robust against doubling each of `RAND_BENCH_N` (from 1000 to 2000) and `BYTES_LEN` (from 1024 to 2048), testing `gen_bytes_*` benches from the `rngs` repo and `gen_u*` from the `rand` repo. There are a few differences, e.g. SplitMix is approx 8% slower when the byte output length is doubled, and the 128-bit PCG generators appear about 4% faster when the num

[2019-11-20 12:56] vigna commented on #910
I didn't say you had to do anything—that was just a general comment. My benchmarks use 10^10 iterations.

In C, -march=native can have disruptive effects—for example, on my benchmark hardware SplitMix gets unrolled/vectorized by GCC and takes 0.50ns/word.

[2019-11-21 04:08] BurtonQin opened #911 "Possible atomicity violation in reseeding register_fork_handler"
https://github.com/rust-random/rand/blob/885655d083b7b2668c7b8bb5367842ea4d0df760/src/rngs/adapter/reseeding.rs#L303-L309

In function register_fork_handler:
1. load and check the atomic variable FORK_HANDLER_REGISTERED.
2. if not, call the C library function.
3. set the atomic variable so that the next call of the same function will not execute the C library function again.

It seems to me that a

[2019-11-21 12:36] dhardy commented on #911
Agreed, this doesn't look safe. Since the fix should be straightforward, would you like to make a PR? (Update the CHANGELOG too.)

[2019-11-21 12:55] bjorn3 commented on #911
Using `compare_and_swap would allow: thread 1 calls `ReseedRng::new` and runs until just after thr cmpxchg; thread 2 calls `ReseedRng::new`,thinks it is initialized returns and spawns new process; thread 1 continues running.

Using std::sync::Once should fix this.

[2019-11-21 13:31] dhardy commented on #911
@bjorn3 agreed. Unfortunately `Once` is only available in `std`. This leaves us with three choices:

1.  Restrict `ReseedingRng` (and the whole `adapter` module) to `#[cfg(feature="std")]`. Since this is likely not of use in `no_std` and `thread_rng` is already resticted to `std` this is probably the best choice, however it necessitates a breaking release of Rand.
2.  Only call the fork handler wh

[2019-11-21 17:06] vks commented on #911
Option 2 seems best, because it is not a breaking change.

[2019-11-21 17:39] bjorn3 commented on #911
What about using [`spin::Once`](https://mvdnes.github.io/rust-docs/spin-rs/spin/struct.Once.html)?

[2019-11-21 20:58] dhardy commented on #911
My preference is still option 1. @BurtonQin did you encounter this bug in action or find it through analysis? I'm wondering how easy it is to hit in practice (and how much to care about a quick fix and backports).

[2019-11-21 22:20] BurtonQin commented on #911
Through analysis.

[2019-11-23 23:37] jimblandy opened #913 "Crate documentation lists rand_wasm_bindgen_test crate"
In the documentation at https://rust-random.github.io/rand/rand/index.html, the list of crates in the left sidebar includes the crate `rand_wasm_bindgen_test`, which doesn't seem to have anything of interest to users. This crate should probably be marked to be excluded from the documentation.

[2019-11-29 12:54] vks commented on #913
This does not happen on docs.rs, so it seems to be specific to the way we build the docs. Maybe we can exclude that crate or do something like the following:
[code]

[2019-11-29 13:44] dhardy commented on #913
We can try that @vks. Care to make a PR?

[2019-12-09 11:55] vks commented on #913
It seems like we would have to replace `cargo doc --no-deps --all --all-features` with a command that ignores the WASM test crate, which requires listing all other crates explicitly.

[2019-12-09 12:28] dhardy commented on #913
Indeed, and as I already said in #914 in my opinion it is better not to do this (i.e. live with this little issue). Do you agree @vks?

[2019-12-09 12:42] vks commented on #913
If we do this, we should maybe add some documentation that the module is internal and for tests only.

[2019-12-09 14:29] dhardy commented on #913
"test" is in the name already. But if you prefer we can get rid of this. It's largely redundant with `getrandom`'s testing, but there @josephlr [found a way of removing the separate test crate](https://github.com/rust-random/getrandom/pull/108). (I guess it's just laziness on my part that this hasn't been done in Rand yet.)

[2019-12-09 18:29] dhardy commented on #910
Based on re-reading [this](https://github.com/MartyMacGyver/PractRand/blob/master/doc/RNG_engines.txt) and [this](https://github.com/dhardy/rand/issues/60), sfc64 and sfc32 also appear good candidates.

I have updated @pitdicker's `small-rngs` repo [here](https://github.com/dhardy/small-rngs-1) and run some benchmarks; they perform well here:
[code]

[2019-12-09 18:32] dhardy commented on #910
Simulated i686 benchmarks imply we should prefer SFC32 over SFC64 for 32-bit platforms:
[code]

[2019-12-20 22:52] jstrong-tios opened #917 "rand_distr benches need `extern crate test` declared"
I needed to add the line `extern crate test` in order to run the benchmarks for rand_distr, running nightly. I believe `extern crate test` is required even with 2018 edition for the case of the built-in test crate, if not please let me know what I'm doing wrong.

[code]

rand_distr: master branch (cloned immediately prior).

Command I ran with error:

[code]

What I did to fix it in rand_distr/ben

[2019-12-22 15:10] #917 closed

[2019-12-30 09:44] dhardy opened #921 "rand_distr 0.3 tracker"
No real plans for this yet, but:

- [x] (breaking): [revise `dirichlet::Error` enum](https://github.com/rust-random/rand/pull/919#discussion_r361938003)
- [x] Migrate to `num-traits` #987
- [ ] Update to `rand v0.8`

[2019-12-30 09:53] dhardy opened #922 "rand_distr: no_std support"
As @burdges and @kennytm recently pointed out, `rand_distr` currently depends on `std` for various mathematical functions (trig, exp).

Status: `std` provides these functions over the platform's native `libm` lib.

Available alternative: [libm](https://github.com/rust-lang/libm) is a pure-Rust port of MUSL's `libm`. We *could* target this, perhaps behind a feature flag. I'm not sure whether we wan

[2019-12-30 10:34] dhardy commented on #910
@vigna can you please comment on the [repeats that O'Neill found in Xoshiro](http://www.pcg-random.org/posts/xoshiro-repeat-flaws.html)? I realise that there is a certain amount of hyperbole involved since this apparently affects only (approx) 2^64 of the 2^256 outputs of Xoshiro256. I understand that David Blackman did some further analysis?

The [SFC generator](http://pracrand.sourceforge.net/RN

[2019-12-30 10:56] dhardy commented on #910
I guess the alternative is that we just retire `SmallRng` in Rand 0.8. It already requires explicit activation via a feature flag. Since `StdRng` (ChaCha20) is already fast/small enough for many uses and `SmallRng` does not provide stability, it is not appropriate for usage in that many cases anyway (it might be useful for some forms of testing, but e.g. is not used by `quickcheck`).

[2019-12-30 14:06] p-avital opened #923 "Implement Default for rand_pcg"
Hi,

Considering that PCG specifies defaults starting values for the state and stream variables, shouldn't the PCG types implement Default? Or was the decision not to implement Default a conscious one?

Still, happy we got PCG already, keep up the good work :)

[2019-12-30 15:37] dhardy commented on #923
Hello,

In my opinion, RNGs should not be implicitly seedable; users should be explicit:

- if you wish to seed with a specific fixed seed that's easy enough to do
- if you merely wish to use a simple, fixed seed, `seed_from_u64` allows that
- if you don't need a fixed seed, `from_entropy` gives you a strong, fresh seed
- if you don't care about deterministic/predictable behaviour, then any of the

[2019-12-30 16:02] mgostIH opened #924 "Choose should panic"
I think the API of SliceRandom::choose should panic instead of returning None to provide a cleaner API, since the case of having an empty slice seems very unlikely. Often times, even in other languages, I've seen random sampling used with already known arrays, but I can understand that there the model of error handling may be different, so I'd be happy to see more discussion about this.

[2019-12-30 16:40] vks commented on #922
Maybe we should just use `num_traits::float::Float`, which gives us `no_std` support using `libm` for free.

[2019-12-30 17:03] vigna commented on #910
SFC is very fast and, empirically, very good (it might be different in applications because writing four words of state it takes time—xoshiro256 has the same problem). I don't think anybody tried seriously to find flaws in it, tho.

I have made a point of not considering in my work generators for which you cannot prove that the period is close to the size of the state space (the "bang for the buck

[2019-12-30 17:39] dhardy commented on #924
So you're saying that `slice.choose(&mut rng).unwrap()` is excessively verbose? Maybe a little, but I also don't find special-casing an iterator/slice algorithm for empty input is that rare.

Since this concerns a breaking change to an existing API, such a change would need quite a significant justification to be enacted.

[2019-12-30 17:42] dhardy commented on #922
My POV is that whatever we do, we make an explicit choice and not *just* use something, since this affects reproducibility (admittedly, only in cases where reproducibility is already hard to assure).

API cost is not really an issue here anyway (producing our own wrapper would be easy).

[2019-12-30 18:08] dhardy commented on #910
Assuming all orbits have size 2^64 within a 256-bit state, the chance of two random seeds having the same orbit is 2^-192. Of course this is not the case since orbits may be (and usually are) larger, but if you consider the RNG as having 2^192 slices of size 2^64 (each of which may jump to any slice at its end), the chance of two random seeds being within 2^64 of each other is still 2^-191, right?

[2019-12-30 18:16] burdges commented on #922
I think this sounds cool.  Ain't clear if anyone needs this anytime soon, but I suppose exp comes up lots.

I agree that floats portability sounds like a bigger deal, but no idea if/where that should be addressed.

It plausible that many folks who want this actually want discrete distributions anyways, like negative binomial, etc., so maybe doing those clean first makes the most sense?

[2019-12-30 18:29] vigna commented on #910
Usually you assume P processors using L outputs and you want to compute the probability of overlap. I don't know if the next-state function of SFC is bijective, but let's assume it. But yes, either the orbits are very long and then there will be collision on the orbits, but not on the sequence, or they are short and then there could be an overlap on the sequence, but since everyone is in a differe

[2019-12-30 19:10] mgostIH commented on #924
Sure, but rand is still far from 1.0, so I thought about expressing this opinion before it'd be too late, I'd be up to check out what most crates that use choose treat the None case as, if the majority simply unwrap I don't see this as an unreasonable change.
Moreover even without implementation details, randomly choosing from an empty array seems completely a logic error, but even when you need i

[2019-12-31 09:43] dhardy commented on #910
Here's the [SFC-64 transition function](https://github.com/dhardy/small-rngs-1/blob/master/src/sfc.rs#L156). I think `x ^ (x >> 11)` and `x + (x << 3)` are both bijective? If so, then the transition is bijective. (Though there's a small bug in this implementation: Rust traps on overflow unless explicitly using wrapping arithmetic, so that `counter` will eventually cause a panic.)

[2020-01-02 11:55] dhardy commented on #849
I tried a number of variants on this, including fully-qualified names within the link text, and still can't fix it on the stable compiler (1.40), but it does work on this nightly: `rustc 1.42.0-nightly (0de96d37f 2019-12-19)`.

- Similar?: https://github.com/rust-lang/rust/issues/66509
- intra-rustdoc links tracker: https://github.com/rust-lang/rust/issues/43466

Note that this manifests in two pl

[2020-01-02 15:45] #902 closed

[2020-01-04 05:33] rjgeek commented on #682
so far, are there any good solution, I am facing the same issues
`Compiling rand_os v0.1.3
error[E0463]: can't find crate for `wasm_bindgen`
   --> /home/xxx/cargo/registry/src/github.com-1ecc6299db9ec823/rand_os-0.1.3/src/lib.rs:138:1
    |
138 | extern crate wasm_bindgen;
    | ^^^^^^^^^^^^^^^^^^^^^^^^^^ can't find crate`

[2020-01-04 05:33] rjgeek commented on #682
so far, are there any good solution, I am facing the same issues
`Compiling rand_os v0.1.3
error[E0463]: can't find crate for `wasm_bindgen`
   --> /home/xxx/cargo/registry/src/github.com-1ecc6299db9ec823/rand_os-0.1.3/src/lib.rs:138:1
    |
138 | extern crate wasm_bindgen;
    | ^^^^^^^^^^^^^^^^^^^^^^^^^^ can't find crate`@stevebob, @dhardy

[2020-01-04 09:45] dhardy commented on #682
@rjgeek I think a new issue would be appropriate; this one's quite old. When you do, post the output of `cargo tree` [install from here](https://crates.io/crates/cargo-tree).

[2020-01-05 03:48] rjgeek commented on #682
@dhardy , thank you for your kindly response. The output of cargo tree is shown as follows.
It would be nicer if you can give me more guide.
[code]

[2020-01-05 03:51] rjgeek commented on #682
@dhardy thank you for your kindly response. The output of cargo tree is shown as follows.
It would be nicer if you can give me more guide

[code]

[2020-01-05 18:05] dhardy commented on #682
As I said, a new issue please. It's not the same cause.

Upgrading to Rand 0.7 may fix it; that said we should try to support version 0.6 too.

[2020-01-07 12:20] rjgeek commented on #682
The problem is that I want to use "rand04_compat" package.   But "rand04_compat" package does not support Rand 0.7, and I have to back to back to rand 0.6, but rand 0.6 has the above issues.  It made me in a dilemma.

[2020-01-07 14:08] dhardy commented on #682
Create a new issue *please*.

If you can reproduce with a small test crate that would be best.

[2020-01-08 11:43] Amanieu opened #927 "rand shouldn't depend on libc on no_std"
I am writing a no_std Linux application that runs without libc (using raw syscalls). Unfortunately the `rand` crate depends on `libc` for the `ReseedingRng` wrapper, which breaks my build.

As was discussed in #911, could the libc crate be changed into an optional dependency that only gets imported when the "std" feature is enabled?

[2020-01-08 15:53] #911 closed

[2020-01-08 16:07] bjorn3 commented on #927
#928 has been merged.

[2020-01-10 21:45] #927 closed

[2020-01-12 01:13] kjeremy opened #930 "Upgrade autocfg to 1.0"
Now that autocfg 1.0 has been released it should be used here.

[2020-01-12 17:50] dhardy commented on #930
Which `autocfg` dependency? We don't have one (at least not with current crate versions).

[2020-01-12 21:26] kjeremy commented on #930
Sorry I was looking at 0.6.5

[2020-01-12 21:26] #930 closed

[2020-01-13 09:47] Nemo157 commented on #889
Could `StdRng` be placed behind a feature gate to drop the `rand_chacha` dependency completely with `default-features = false`? When writing a library that uses `rand` but only exposes functions generic over `Rng`/`RngCore` I don't want to be pulling in any specific generators.

[2020-01-13 10:32] dhardy commented on #889
Yes, I guess we can do that. Similar to `small_rng`, add a `std_rng` feature, with the difference that `std` implies `std_rng`.

[2020-01-13 17:47] dhardy commented on #872
In fact I believe this is the wrong approach; rather we should copy the `c2-chacha` code we need into `rand_chacha` and depend directly on `ppv-lite86`. Reasons are two:

1.  `rand_chacha` depends on only about 300 lines (1/3) of the code in `c2-chacha`
2. `rand_chacha` already has 44 reverse-dependencies; `c2-chacha` has 2

[2020-01-13 18:53] tarcieri commented on #872
@dhardy while you’re looking into that, you might consider using ChaCha12 over ChaCha20:

https://eprint.iacr.org/2019/1492

ChaCha12 still provides 5 rounds of safety margin over the best known attack, whereas ChaCha20 provides 13 which is excessive when the best attack is 7.

The cited paper suggests ChaCha8 which only provides a single round of safety margin. I think ChaCha12 is at a happy medi

[2020-01-13 19:05] dhardy commented on #872
@tarcieri sounds great! But considering that is a security issue, I think it deserves its own thread.
So maybe copy+paste that to a new issue?

Also, it's not "while you're looking into that". `rand_chacha` already exports all three common variants; this change would be to Rand's main lib.

[2020-01-13 19:20] tarcieri commented on #872
Sure, I can open a separate issue

[2020-01-13 19:53] tarcieri opened #932 "rand_chacha: consider ChaCha12 (or possibly ChaCha8) over ChaCha20"
## Background

At RealWorldCrypto 2020 this year, @veorq presented a talk about his "Too Much Crypto" paper, suggesting that the number of rounds used by a number of ciphers, including ChaCha20, is excessively high:

https://eprint.iacr.org/2019/1492

Section 3.3 covers ChaCha:

Note the 7-round attack is a security reduction from the claimed 256-bits of security, to "237.7" bits, and therefore is

[2020-01-13 20:06] kazcw commented on #924
Even if the more subtle API were better (it's not), it wouldn't be worth a breaking change to a crate with 3000 direct dependents; SemVer doesn't enter into it.

[2020-01-13 20:20] kazcw commented on #924
@mgostIH BTW, you can do this:

[code]

[2020-01-13 20:30] scottarc commented on #932
See [the informal security proof in the XChaCha RFC draft](https://tools.ietf.org/html/draft-irtf-cfrg-xchacha-03#section-3.1) which extends the formal XSalsa20 security proof to apply to XChaCha. Since the ChaCha reduced-round cryptanalysis story is actually *better* than Salsa20, I'm very confident in the security of ChaCha8 for randomness purposes.

[2020-01-13 20:57] kazcw commented on #932
I have leaned toward 20-round in the past because the default has to meet the required security margin of all users, but that sounds like a strong argument that *no one* needs more than 12 rounds.

It sounds like 8-round would probably be ok, but that position is less rigorously supported, and I don't expect there's a strong need for the speedup in ThreadRng. ChaCha12 is fast--within an order of m

[2020-01-14 01:18] vks commented on #924
@mgostIH I think your example is an argument for the current API, not against it. In my opinion, the example given by @kazcw using the current API is preferable, because it does not generate any panicking code. The advantage of the API you proposed is saving an `unwrap` in cases where you don't care about the failure case.

I would prefer to keep the API as is, for the following reasons:
* As alre

[2020-01-14 10:25] newpavlov commented on #924
I think we should look into how `choose` is used across ecosystem. If use of `unwrap` or `except` is prevalent, then I think there is a certain merit in making `choose` to panic on empty slices. It can be done as part of #889. Of course such change should be accompanied by addition of `try_choose` method which will work as the current `choose`.

[2020-01-14 10:25] #924 closed

[2020-01-14 10:28] dhardy commented on #924
Somehow @newpavlov commented just as I clicked the "close" button. However, I believe the above arguments are sufficient not to re-open this; in particular:

1.  [@vks:] The current API is arguably more idiomatic Rust, mimicking corresponding APIs in std (see [T]::{first, last} and similar).
2.  [myself:] Since this concerns a breaking change to an existing API, such a change would need quite a si

[2020-01-14 11:00] dhardy commented on #932
To my lay perspective, this sounds like sufficient argument to prefer ChaCha12 for general usage, including `StdRng` and `thread_rng`. Lets go ahead with this change, unless a good counter-argument comes up before-hand.

According to our [portability guidelines](https://rust-random.github.io/book/portability.html), this change should wait until (at least) Rand 0.8, which likely will be at least a

[2020-01-15 01:32] burdges commented on #932
You could do `ChaCha20Rng`, `ChaCha12Rng`, and `ChaCha8Rng` type aliases, like c2-chacha itself does, and then a `ChaChaRng` for `ChaCha12Rng` or whatever.  Anyone who wants binary compatibility or is just paranoid could switch to `ChaCha20Rng`.

[2020-01-15 09:25] dhardy commented on #932
@burdges maybe you should [check the existing API](https://docs.rs/rand_chacha/0.2.1/rand_chacha/) before you comment.

[2020-01-16 16:48] tarcieri commented on #872
I'm back, with something actually relevant to this thread.

I just released v0.3 of the `chacha20` crate. It includes the following changes:

- All of its dependencies (`stream-cipher`, `rand_core`, and `zeroize`) are now optional, and the `rng` feature now depends exclusively on the `rand_core` crate.
- The buffering logic has been dramatically improved. The RNG no longer performs any buffering w

[2020-01-17 14:55] dhardy opened #934 "Replacing rand_chacha with chacha20"
@tarcieri has recently [implemented ChaCha*Rng via the `chacha20` crate](https://github.com/rust-random/rand/issues/872#issuecomment-575242181). [docs are here](https://docs.rs/chacha20/0.3.1/chacha20/). Breaking out into a new issue this isn't really the topic of #872...

This brings the question: **should we prefer this over the current (@kazcw's) implementation**?

First things first, the `rand

[2020-01-17 14:57] tarcieri commented on #934
You'll need `-Ctarget-feature=+avx2` to enable the AVX2 backend.

[2020-01-17 15:02] tarcieri commented on #934
Regarding `unsafe`, most of those are `core::arch` invocations of CPU intrinsics.

Probably the most questionable use of unsafe is here:

https://github.com/RustCrypto/stream-ciphers/blob/master/chacha20/src/rng.rs#L74

It'd be good to evaluate various safe ways of replacing that.

[2020-01-17 15:07] dhardy commented on #934
I get the same results with `RUSTFLAGS="-C target-cpu=native -C target-feature=+avx2"`.

[2020-01-17 15:31] tarcieri commented on #934
I just benchmarked the `chacha20` crate w\ AVX2 against `c2-chacha` and got proportionally similar numbers.

These are on a 2.3 GHz Intel Core i9.

## `chacha20` crate

[code]

## `c2-chacha`

[code]

It looks like `ppv-lite86` is capable of using AVX2 as well.

[2020-01-20 11:38] #872 closed

[2020-01-20 13:00] vigna commented on #910
BTW, if you're interested our paper is out: https://arxiv.org/abs/2001.05304

[2020-01-25 11:26] peteroupc commented on #910
For your information I have written a short document on [testing PRNGs for high-quality randomness](https://github.com/peteroupc/peteroupc.github.io/blob/master/randomtest.md).  There is more to testing PRNGs than testing a single random number sequence.  For instance:

- Testing two "nearby sequences" of the same PRNG can reveal correlations between them.  For example, PCG can produce correlated

[2020-01-28 15:28] ratmice commented on #644
Would it be alright to reference an external crate here, such as strum for its EnumIter,
Perhaps In addition to the above

[code]

[2020-02-17 21:41] matklad opened #937 "Tag and release for 0.7.3 are missing"
See subject :-)

[2020-02-17 22:14] matklad opened #938 "Consider hiding StdRng behind a feature flag"
Hi!

So I've noticed that even if I use rand with what I think is the minimal profile,

[code]

I still get both chacha (with its deps) and hc.

However, I am specifically interested in a single fast non-cryptographic manually seeded rng (and small Cargo.lock :) ).

I've tried to apply the following patch to `rand`, and it seems like it did the trick?

[code]

[2020-02-18 07:56] dhardy commented on #938
I'm not keen on this. `ThreadRng` also uses ChaCha. I mean, yes, we *can* make things more optional/modular, but I think it's also worth providing default options that cover most users' requirements?

@vks @newpavlov thoughts?

[2020-02-18 07:59] dhardy commented on #937
Fixed :smile:

[2020-02-18 07:59] #937 closed

[2020-02-18 08:22] matklad commented on #938
Yeah, it should definitely be an `default` feature.  But I don't used `ThreadRng`, b/c I don't use `std` feature, so for me that would be an easy way to cut about 4 entries from Cargo.lock, and I do find that valuable.

[2020-02-18 09:14] newpavlov commented on #938
I am in support of adding an enabled-by-default feature for disabling `StdRng`, thus making all dependencies except `rand_core` optional. But I am afraid it will be a breaking change, since crates which uses `rand` without default features can use `StdRng`, so adding this feature will result in a build failure for them.

[2020-02-18 17:54] vks commented on #938
Are you using the emscripten target? IIRC, we only use `rand_hc` because
emscripten does not support `u128`.

I think it might make sense to put `StdRng`, `thread_rng` and possibly the
reseeding machinery behind a feature flag (enabled by default). There is a
demand for lightweight RNG libraries, as evidenced by the various Rand
alternatives without CSPRNGs.

As mentioned before, this would of cou

[2020-02-18 17:56] matklad commented on #938
No, but it still ends up in Cargo.lock, because Cargo.lock is created for a union of all targerts.

[2020-02-19 08:02] dhardy commented on #938
Fair enough, I guess we can introduce an on-by-default feature flag.

Next question is, one or two? We have no guarantee that `ThreadRng` and `StdRng` will continue to use the same CSPRNG, although that will probably be the case, so a single `std_rng` flag is *probably* okay.

[2020-02-28 14:50] #786 closed

[2020-02-28 16:44] dhardy opened #939 "Const generics: array support"
We already support generating `[T; N]` for `Standard` where `T` supports `Standard` and `N ≤ 32` via a macro. It would be nice to replace this with a more generic implementation using `const_generics`.

There is a catch: our macro generates arrays via this syntax: `[_rng.gen::<$t>(), $(_rng.gen::<$ts>()),*]`, but there is no equivalent const-generics literal. This leaves only a couple of options:

[2020-02-28 16:58] dhardy commented on #489
With specialization, we can implement our special filling routines via the `Standard` distribution, then make our `Fill` trait (#940) a wrapper or remove it completely.

[2020-02-29 06:06] burdges commented on #939
Isn't `FromIterator` rather easy so why not that route?  You can even partially consume iterators with node like `my_iter.by_ref().collect::<T; N]>()`.
[code]
Afaik, there is no reason for a `.take(N)` here since the iterator need not be consumed.  There is no reason for `TrustedLen` etc since we want exactly `N`.

There is a slim risk someone uses the less efficent `iter::repeat(foo).collect::<[T